In [4]:
import pandas as pd
import numpy as np

In [5]:
# Standard imports for scrpaing
from requests import get
from bs4 import BeautifulSoup
import os



# Used to run selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [6]:
import json

In [7]:
from nba_api.stats.endpoints import playercareerstats

In [8]:
url = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=PerGame&Scope=S&Season=2022-23&SeasonType=Regular%20Season&StatCategory=PTS'
# headers = {"Authorization": f"token {github_token}", "User-Agent": github_username}
response = get(url).json()

In [9]:
response

{'resource': 'leagueleaders',
 'parameters': {'LeagueID': '00',
  'PerMode': 'PerGame',
  'StatCategory': 'PTS',
  'Season': '2022-23',
  'SeasonType': 'Regular Season',
  'Scope': 'S',
  'ActiveFlag': None},
 'resultSet': {'name': 'LeagueLeaders',
  'headers': ['PLAYER_ID',
   'RANK',
   'PLAYER',
   'TEAM_ID',
   'TEAM',
   'GP',
   'MIN',
   'FGM',
   'FGA',
   'FG_PCT',
   'FG3M',
   'FG3A',
   'FG3_PCT',
   'FTM',
   'FTA',
   'FT_PCT',
   'OREB',
   'DREB',
   'REB',
   'AST',
   'STL',
   'BLK',
   'TOV',
   'PTS',
   'EFF'],
  'rowSet': [[203954,
    1,
    'Joel Embiid',
    1610612755,
    'PHI',
    66,
    34.6,
    11.0,
    20.1,
    0.548,
    1.0,
    3.0,
    0.33,
    10.0,
    11.7,
    0.857,
    1.7,
    8.4,
    10.2,
    4.2,
    1.0,
    1.7,
    3.4,
    33.1,
    35.9],
   [1629029,
    2,
    'Luka Doncic',
    1610612742,
    'DAL',
    66,
    36.2,
    10.9,
    22.0,
    0.496,
    2.8,
    8.2,
    0.342,
    7.8,
    10.5,
    0.742,
    0.8,
    7.8,
    8.6,
    8.0,
    1.4,
    0.5,
    3.6,
    32.4,
    33.5],
   [203081,
    3,
    'Damian Lillard',
    1610612757,
    'POR',
    58,
    36.3,
    9.6,
    20.7,
    0.463,
    4.2,
    11.3,
    0.371,
    8.8,
    9.6,
    0.914,
    0.8,
    4.0,
    4.8,
    7.3,
    0.9,
    0.3,
    3.3,
    32.2,
    30.2],
   [1628983,
    4,
    'Shai Gilgeous-Alexander',
    1610612760,
    'OKC',
    68,
    35.5,
    10.4,
    20.3,
    0.51,
    0.9,
    2.5,
    0.345,
    9.8,
    10.9,
    0.905,
    0.9,
    4.0,
    4.8,
    5.5,
    1.6,
    1.0,
    2.8,
    31.4,
    30.5],
   [203507,
    5,
    'Giannis Antetokounmpo',
    1610612749,
    'MIL',
    63,
    32.1,
    11.2,
    20.3,
    0.553,
    0.7,
    2.7,
    0.275,
    7.9,
    12.3,
    0.645,
    2.2,
    9.6,
    11.8,
    5.7,
    0.8,
    0.8,
    3.9,
    31.1,
    32.9],
   [1628369,
    6,
    'Jayson Tatum',
    1610612738,
    'BOS',
    74,
    36.9,
    9.8,
    21.1,
    0.466,
    3.2,
    9.3,
    0.35,
    7.2,
    8.4,
    0.854,
    1.1,
    7.7,
    8.8,
    4.6,
    1.1,
    0.7,
    2.9,
    30.1,
    29.9],
   [1628378,
    7,
    'Donovan Mitchell',
    1610612739,
    'CLE',
    68,
    35.8,
    10.0,
    20.6,
    0.484,
    3.6,
    9.3,
    0.386,
    4.7,
    5.4,
    0.867,
    0.9,
    3.3,
    4.3,
    4.4,
    1.5,
    0.4,
    2.6,
    28.3,
    24.8],
   [202681,
    8,
    'Kyrie Irving',
    1610612742,
    'DAL',
    60,
    37.4,
    9.9,
    20.1,
    0.494,
    3.1,
    8.3,
    0.379,
    4.1,
    4.6,
    0.905,
    1.0,
    4.1,
    5.1,
    5.5,
    1.1,
    0.8,
    2.1,
    27.1,
    26.8],
   [1627759,
    9,
    'Jaylen Brown',
    1610612738,
    'BOS',
    67,
    35.9,
    10.1,
    20.6,
    0.491,
    2.4,
    7.3,
    0.335,
    3.9,
    5.1,
    0.765,
    1.2,
    5.7,
    6.9,
    3.5,
    1.1,
    0.4,
    2.9,
    26.6,
    23.8],
   [1629027,
    10,
    'Trae Young',
    1610612737,
    'ATL',
    73,
    34.8,
    8.2,
    19.0,
    0.429,
    2.1,
    6.3,
    0.335,
    7.8,
    8.8,
    0.886,
    0.8,
    2.2,
    3.0,
    10.2,
    1.1,
    0.1,
    4.1,
    26.2,
    24.6],
   [1629630,
    11,
    'Ja Morant',
    1610612763,
    'MEM',
    61,
    31.9,
    9.3,
    19.9,
    0.466,
    1.5,
    4.9,
    0.307,
    6.1,
    8.1,
    0.748,
    1.0,
    4.9,
    5.9,
    8.1,
    1.1,
    0.3,
    3.4,
    26.2,
    25.4],
   [1628374,
    12,
    'Lauri Markkanen',
    1610612762,
    'UTA',
    66,
    34.4,
    8.7,
    17.3,
    0.499,
    3.0,
    7.7,
    0.391,
    5.3,
    6.0,
    0.875,
    2.0,
    6.7,
    8.6,
    1.9,
    0.6,
    0.6,
    1.9,
    25.6,
    26.0],
   [203944,
    13,
    'Julius Randle',
    1610612752,
    'NYK',
    77,
    35.5,
    8.5,
    18.6,
    0.459,
    2.8,
    8.3,
    0.343,
    5.2,
    6.9,
    0.757,
    1.8,
    8.1,
    10.0,
    4.1,
    0.6,
    0.3,
    2.8,
    25.1,
    25.6],
   [1628368,
    14,
    "De'Aaron Fox",
    1610612758,
    'SAC',
    73,
    33.4,
    9.3,
    18.2,
    0.512,
    1.6,
    5.0,
    0.324,
    4.7,
    6.0,
    0.78,
    0.5,
    3.6,
    4.2,
    6.1,
    1.1,
    0.3,
    2.5,
    25.0,
    24.1],
   [203897,
    15,
    'Zach LaVine',
    1610612741,
    'CHI',
    77,
    35.9,
    8.7,
    18.0,
    0.485,
    2.6,
    7.1,
    0.375,
    4.7,
    5.6,
    0.848,
    0.5,
    3.9,
    4.5,
    4.2,
    0.9,
    0.2,
    2.5,
    24.8,
    22.1],
   [1630162,
    16,
    'Anthony Edwards',
    1610612750,
    'MIN',
    79,
    36.0,
    8.9,
    19.5,
    0.459,
    2.7,
    7.3,
    0.369,
    4.0,
    5.3,
    0.756,
    0.6,
    5.2,
    5.8,
    4.4,
    1.6,
    0.7,
    3.3,
    24.6,
    22.0],
   [201942,
    17,
    'DeMar DeRozan',
    1610612741,
    'CHI',
    74,
    36.2,
    8.9,
    17.6,
    0.504,
    0.6,
    1.9,
    0.324,
    6.2,
    7.1,
    0.872,
    0.5,
    4.2,
    4.6,
    5.1,
    1.1,
    0.5,
    2.1,
    24.5,
    24.2],
   [203999,
    18,
    'Nikola Jokic',
    1610612743,
    'DEN',
    69,
    33.7,
    9.4,
    14.8,
    0.632,
    0.8,
    2.2,
    0.383,
    4.9,
    6.0,
    0.822,
    2.4,
    9.4,
    11.8,
    9.8,
    1.3,
    0.7,
    3.6,
    24.5,
    38.0],
   [1627783,
    19,
    'Pascal Siakam',
    1610612761,
    'TOR',
    71,
    37.4,
    8.9,
    18.5,
    0.48,
    1.3,
    4.0,
    0.324,
    5.2,
    6.7,
    0.774,
    1.8,
    6.0,
    7.8,
    5.8,
    0.9,
    0.5,
    2.4,
    24.2,
    25.8],
   [1628973,
    20,
    'Jalen Brunson',
    1610612752,
    'NYK',
    68,
    35.0,
    8.6,
    17.6,
    0.491,
    2.0,
    4.7,
    0.416,
    4.8,
    5.8,
    0.829,
    0.6,
    3.0,
    3.5,
    6.2,
    0.9,
    0.2,
    2.1,
    24.0,
    22.9],
   [204001,
    21,
    'Kristaps Porzingis',
    1610612764,
    'WAS',
    65,
    32.6,
    7.8,
    15.7,
    0.498,
    2.1,
    5.5,
    0.385,
    5.4,
    6.4,
    0.851,
    1.8,
    6.6,
    8.4,
    2.7,
    0.9,
    1.5,
    2.1,
    23.2,
    25.7],
   [202710,
    22,
    'Jimmy Butler',
    1610612748,
    'MIA',
    64,
    33.4,
    7.5,
    13.9,
    0.539,
    0.6,
    1.6,
    0.35,
    7.4,
    8.7,
    0.85,
    2.2,
    3.7,
    5.9,
    5.3,
    1.8,
    0.3,
    1.6,
    22.9,
    27.0],
   [1630224,
    23,
    'Jalen Green',
    1610612745,
    'HOU',
    76,
    34.2,
    7.4,
    17.9,
    0.416,
    2.5,
    7.3,
    0.338,
    4.8,
    6.1,
    0.786,
    0.6,
    3.2,
    3.7,
    3.7,
    0.8,
    0.2,
    2.6,
    22.1,
    16.2],
   [1629640,
    24,
    'Keldon Johnson',
    1610612759,
    'SAS',
    63,
    32.7,
    8.0,
    17.7,
    0.452,
    2.1,
    6.5,
    0.329,
    3.9,
    5.2,
    0.749,
    0.9,
    4.2,
    5.0,
    2.9,
    0.7,
    0.2,
    2.1,
    22.0,
    17.7],
   [202691,
    25,
    'Klay Thompson',
    1610612744,
    'GSW',
    69,
    33.0,
    7.9,
    18.1,
    0.436,
    4.4,
    10.6,
    0.412,
    1.7,
    1.9,
    0.879,
    0.6,
    3.6,
    4.1,
    2.4,
    0.7,
    0.4,
    1.8,
    21.9,
    17.3],
   [1629636,
    26,
    'Darius Garland',
    1610612739,
    'CLE',
    69,
    35.5,
    7.6,
    16.4,
    0.462,
    2.4,
    6.0,
    0.41,
    4.0,
    4.7,
    0.863,
    0.4,
    2.3,
    2.7,
    7.8,
    1.2,
    0.1,
    2.9,
    21.6,
    21.1],
   [202711,
    27,
    'Bojan Bogdanovic',
    1610612765,
    'DET',
    59,
    32.1,
    7.3,
    14.9,
    0.488,
    2.5,
    6.0,
    0.411,
    4.5,
    5.1,
    0.884,
    0.6,
    3.2,
    3.8,
    2.6,
    0.6,
    0.1,
    2.3,
    21.6,
    18.1],
   [1630217,
    28,
    'Desmond Bane',
    1610612763,
    'MEM',
    58,
    31.7,
    7.8,
    16.2,
    0.479,
    2.9,
    7.0,
    0.408,
    3.1,
    3.5,
    0.883,
    0.7,
    4.3,
    5.0,
    4.4,
    1.0,
    0.4,
    2.2,
    21.5,
    21.2],
   [1628398,
    29,
    'Kyle Kuzma',
    1610612764,
    'WAS',
    64,
    35.0,
    8.0,
    17.8,
    0.448,
    2.5,
    7.5,
    0.333,
    2.7,
    3.7,
    0.73,
    0.9,
    6.4,
    7.2,
    3.7,
    0.6,
    0.5,
    3.0,
    21.2,
    19.4],
   [1626179,
    30,
    'Terry Rozier',
    1610612766,
    'CHA',
    63,
    35.3,
    7.8,
    18.9,
    0.415,
    2.6,
    8.0,
    0.327,
    2.8,
    3.5,
    0.809,
    0.8,
    3.3,
    4.1,
    5.1,
    1.2,
    0.3,
    2.1,
    21.1,
    17.9],
   [1629014,
    31,
    'Anfernee Simons',
    1610612757,
    'POR',
    62,
    35.0,
    7.5,
    16.9,
    0.447,
    3.4,
    9.1,
    0.377,
    2.6,
    2.9,
    0.894,
    0.3,
    2.3,
    2.6,
    4.1,
    0.7,
    0.2,
    2.1,
    21.1,
    17.0],
   [201935,
    32,
    'James Harden',
    1610612755,
    'PHI',
    58,
    36.8,
    6.4,
    14.5,
    0.441,
    2.8,
    7.2,
    0.385,
    5.4,
    6.2,
    0.867,
    0.7,
    5.4,
    6.1,
    10.7,
    1.2,
    0.5,
    3.4,
    21.0,
    27.2],
   [203468,
    33,
    'CJ McCollum',
    1610612740,
    'NOP',
    75,
    35.3,
    7.8,
    17.9,
    0.437,
    2.8,
    7.2,
    0.389,
    2.4,
    3.2,
    0.769,
    0.7,
    3.6,
    4.4,
    5.7,
    0.9,
    0.5,
    2.4,
    20.9,
    19.2],
   [203903,
    34,
    'Jordan Clarkson',
    1610612762,
    'UTA',
    61,
    32.6,
    7.5,
    16.9,
    0.444,
    2.5,
    7.5,
    0.338,
    3.3,
    4.0,
    0.816,
    1.2,
    2.9,
    4.0,
    4.4,
    0.5,
    0.2,
    3.0,
    20.8,
    16.9],
   [203924,
    35,
    'Jerami Grant',
    1610612757,
    'POR',
    63,
    35.7,
    6.9,
    14.5,
    0.475,
    2.3,
    5.7,
    0.401,
    4.4,
    5.4,
    0.813,
    0.8,
    3.7,
    4.5,
    2.4,
    0.8,
    0.8,
    1.8,
    20.5,
    18.5],
   [1627749,
    36,
    'Dejounte Murray',
    1610612737,
    'ATL',
    74,
    36.4,
    8.3,
    17.8,
    0.464,
    1.8,
    5.2,
    0.344,
    2.1,
    2.6,
    0.832,
    0.7,
    4.5,
    5.3,
    6.1,
    1.5,
    0.3,
    2.2,
    20.5,
    21.4],
   [1629673,
    37,
    'Jordan Poole',
    1610612744,
    'GSW',
    82,
    30.0,
    6.7,
    15.6,
    0.43,
    2.6,
    7.8,
    0.336,
    4.4,
    5.1,
    0.87,
    0.4,
    2.4,
    2.7,
    4.5,
    0.8,
    0.3,
    3.1,
    20.4,
    16.1],
   [1628389,
    38,
    'Bam Adebayo',
    1610612748,
    'MIA',
    75,
    34.6,
    8.0,
    14.9,
    0.54,
    0.0,
    0.2,
    0.083,
    4.3,
    5.4,
    0.806,
    2.5,
    6.7,
    9.2,
    3.2,
    1.2,
    0.8,
    2.5,
    20.4,
    24.4],
   [1630178,
    39,
    'Tyrese Maxey',
    1610612755,
    'PHI',
    60,
    33.6,
    7.3,
    15.2,
    0.481,
    2.7,
    6.2,
    0.434,
    3.0,
    3.6,
    0.845,
    0.4,
    2.6,
    2.9,
    3.5,
    0.8,
    0.1,
    1.3,
    20.3,
    17.9],
   [1628969,
    40,
    'Mikal Bridges',
    1610612751,
    'BKN',
    83,
    35.7,
    7.1,
    15.3,
    0.468,
    2.0,
    5.3,
    0.382,
    3.8,
    4.3,
    0.895,
    1.0,
    3.4,
    4.4,
    3.3,
    1.1,
    0.7,
    1.5,
    20.1,
    19.5],
   [1629639,
    41,
    'Tyler Herro',
    1610612748,
    'MIA',
    67,
    34.9,
    7.3,
    16.6,
    0.439,
    3.0,
    8.0,
    0.378,
    2.5,
    2.7,
    0.934,
    0.4,
    5.0,
    5.4,
    4.2,
    0.8,
    0.2,
    2.4,
    20.1,
    18.8],
   [1627750,
    42,
    'Jamal Murray',
    1610612743,
    'DEN',
    65,
    32.8,
    7.3,
    16.0,
    0.454,
    2.6,
    6.6,
    0.398,
    2.8,
    3.3,
    0.833,
    0.7,
    3.2,
    4.0,
    6.2,
    1.0,
    0.2,
    2.2,
    20.0,
    19.8],
   [1631094,
    43,
    'Paolo Banchero',
    1610612753,
    'ORL',
    72,
    33.8,
    6.7,
    15.6,
    0.427,
    1.2,
    4.0,
    0.298,
    5.5,
    7.4,
    0.738,
    1.2,
    5.7,
    6.9,
    3.7,
    0.8,
    0.5,
    2.8,
    20.0,
    18.3],
   [1629628,
    44,
    'RJ Barrett',
    1610612752,
    'NYK',
    73,
    33.9,
    7.0,
    16.1,
    0.434,
    1.7,
    5.3,
    0.31,
    4.0,
    5.4,
    0.74,
    0.8,
    4.2,
    5.0,
    2.8,
    0.4,
    0.2,
    2.2,
    19.6,
    15.3],
   [1627832,
    45,
    'Fred VanVleet',
    1610612761,
    'TOR',
    69,
    36.7,
    6.3,
    16.1,
    0.393,
    3.0,
    8.8,
    0.342,
    3.7,
    4.1,
    0.898,
    0.4,
    3.6,
    4.1,
    7.2,
    1.8,
    0.6,
    2.0,
    19.3,
    20.7],
   [201950,
    46,
    'Jrue Holiday',
    1610612749,
    'MIL',
    67,
    32.6,
    7.3,
    15.3,
    0.479,
    2.4,
    6.1,
    0.384,
    2.3,
    2.6,
    0.859,
    1.2,
    3.9,
    5.1,
    7.4,
    1.2,
    0.4,
    2.9,
    19.3,
    22.0],
   [1629645,
    47,
    'Kevin Porter Jr.',
    1610612745,
    'HOU',
    59,
    34.3,
    6.6,
    15.0,
    0.442,
    2.4,
    6.5,
    0.366,
    3.5,
    4.5,
    0.784,
    1.3,
    4.0,
    5.3,
    5.7,
    1.4,
    0.3,
    3.2,
    19.2,
    19.4],
   [1627734,
    48,
    'Domantas Sabonis',
    1610612758,
    'SAC',
    79,
    34.6,
    7.3,
    11.9,
    0.615,
    0.4,
    1.1,
    0.373,
    4.1,
    5.5,
    0.742,
    3.2,
    9.1,
    12.3,
    7.3,
    0.8,
    0.5,
    2.9,
    19.1,
    31.1],
   [1628991,
    49,
    'Jaren Jackson Jr.',
    1610612763,
    'MEM',
    63,
    28.4,
    6.6,
    13.0,
    0.506,
    1.6,
    4.5,
    0.355,
    3.8,
    4.9,
    0.788,
    1.7,
    5.0,
    6.8,
    1.0,
    1.0,
    3.0,
    1.7,
    18.6,
    21.2],
   [1630532,
    50,
    'Franz Wagner',
    1610612753,
    'ORL',
    80,
    32.6,
    6.8,
    14.0,
    0.485,
    1.6,
    4.5,
    0.361,
    3.4,
    4.0,
    0.842,
    0.9,
    3.2,
    4.1,
    3.5,
    1.0,
    0.2,
    2.1,
    18.6,
    17.5],
   [1629028,
    51,
    'Deandre Ayton',
    1610612756,
    'PHX',
    67,
    30.4,
    7.8,
    13.2,
    0.589,
    0.1,
    0.4,
    0.292,
    2.3,
    3.0,
    0.76,
    2.6,
    7.4,
    10.0,
    1.7,
    0.6,
    0.8,
    1.8,
    18.0,
    23.0],
   [1626167,
    52,
    'Myles Turner',
    1610612754,
    'IND',
    62,
    29.4,
    6.5,
    11.8,
    0.548,
    1.5,
    4.0,
    0.373,
    3.5,
    4.5,
    0.783,
    1.4,
    6.1,
    7.5,
    1.4,
    0.6,
    2.3,
    1.7,
    18.0,
    21.8],
   [1626156,
    53,
    "D'Angelo Russell",
    1610612747,
    'LAL',
    71,
    32.5,
    6.3,
    13.4,
    0.469,
    2.7,
    6.9,
    0.396,
    2.5,
    3.0,
    0.829,
    0.5,
    2.5,
    3.0,
    6.2,
    1.0,
    0.4,
    2.6,
    17.8,
    18.1],
   [202696,
    54,
    'Nikola Vucevic',
    1610612741,
    'CHI',
    82,
    33.5,
    7.3,
    14.0,
    0.52,
    1.5,
    4.2,
    0.349,
    1.6,
    1.9,
    0.835,
    1.9,
    9.1,
    11.0,
    3.2,
    0.7,
    0.7,
    1.7,
    17.6,
    24.6],
   [1629008,
    55,
    'Michael Porter Jr.',
    1610612743,
    'DEN',
    62,
    29.0,
    6.4,
    13.2,
    0.487,
    3.0,
    7.3,
    0.414,
    1.5,
    1.9,
    0.8,
    1.0,
    4.5,
    5.5,
    1.0,
    0.6,
    0.5,
    1.1,
    17.4,
    16.8],
   [1629018,
    56,
    'Gary Trent Jr.',
    1610612761,
    'TOR',
    66,
    32.1,
    6.1,
    14.2,
    0.433,
    2.5,
    6.8,
    0.369,
    2.6,
    3.1,
    0.839,
    0.5,
    2.2,
    2.6,
    1.6,
    1.6,
    0.2,
    0.8,
    17.4,
    14.0],
   [203915,
    57,
    'Spencer Dinwiddie',
    1610612751,
    'BKN',
    79,
    34.5,
    5.8,
    13.3,
    0.438,
    2.3,
    6.2,
    0.369,
    3.4,
    4.2,
    0.812,
    0.4,
    3.1,
    3.4,
    6.5,
    0.8,
    0.3,
    1.8,
    17.3,
    18.3],
   [1626181,
    58,
    'Norman Powell',
    1610612746,
    'LAC',
    60,
    26.1,
    5.7,
    11.8,
    0.479,
    1.9,
    4.8,
    0.397,
    3.8,
    4.6,
    0.812,
    0.4,
    2.5,
    2.9,
    1.8,
    0.8,
    0.3,
    1.7,
    17.0,
    14.1],
   [1627741,
    59,
    'Buddy Hield',
    1610612754,
    'IND',
    80,
    31.0,
    5.9,
    13.0,
    0.458,
    3.6,
    8.5,
    0.425,
    1.3,
    1.6,
    0.822,
    0.8,
    4.2,
    5.0,
    2.8,
    1.2,
    0.3,
    1.7,
    16.8,
    17.0],
   [1628384,
    60,
    'O.G. Anunoby',
    1610612761,
    'TOR',
    67,
    35.6,
    6.3,
    13.2,
    0.476,
    2.1,
    5.5,
    0.387,
    2.1,
    2.5,
    0.838,
    1.4,
    3.5,
    5.0,
    2.0,
    1.9,
    0.7,
    2.0,
    16.8,
    17.0],
   [1631097,
    61,
    'Bennedict Mathurin',
    1610612754,
    'IND',
    78,
    28.5,
    5.3,
    12.2,
    0.434,
    1.3,
    4.0,
    0.323,
    4.8,
    5.8,
    0.828,
    1.1,
    3.0,
    4.1,
    1.5,
    0.6,
    0.2,
    1.9,
    16.7,
    13.2],
   [1626174,
    62,
    'Christian Wood',
    1610612742,
    'DAL',
    67,
    25.9,
    5.9,
    11.5,
    0.515,
    1.6,
    4.2,
    0.376,
    3.2,
    4.2,
    0.772,
    1.3,
    6.0,
    7.3,
    1.8,
    0.4,
    1.1,
    1.8,
    16.6,
    19.0],
   [1630581,
    63,
    'Josh Giddey',
    1610612760,
    'OKC',
    76,
    31.1,
    7.1,
    14.7,
    0.482,
    1.0,
    3.1,
    0.325,
    1.4,
    1.9,
    0.731,
    1.9,
    5.9,
    7.9,
    6.2,
    0.8,
    0.4,
    2.8,
    16.6,
    20.9],
   [203932,
    64,
    'Aaron Gordon',
    1610612743,
    'DEN',
    68,
    30.2,
    6.3,
    11.2,
    0.564,
    0.9,
    2.5,
    0.347,
    2.8,
    4.6,
    0.608,
    2.4,
    4.1,
    6.6,
    3.0,
    0.8,
    0.8,
    1.4,
    16.3,
    19.3],
   [1631093,
    65,
    'Jaden Ivey',
    1610612765,
    'DET',
    74,
    31.1,
    5.5,
    13.3,
    0.416,
    1.6,
    4.7,
    0.343,
    3.6,
    4.8,
    0.747,
    1.0,
    2.9,
    3.9,
    5.2,
    0.8,
    0.2,
    3.2,
    16.3,
    14.3],
   [1630596,
    66,
    'Evan Mobley',
    1610612739,
    'CLE',
    79,
    34.4,
    6.6,
    12.0,
    0.554,
    0.3,
    1.3,
    0.216,
    2.6,
    3.8,
    0.674,
    2.4,
    6.6,
    9.0,
    2.8,
    0.8,
    1.5,
    1.8,
    16.2,
    21.8],
   [201572,
    67,
    'Brook Lopez',
    1610612749,
    'MIL',
    78,
    30.4,
    6.1,
    11.5,
    0.531,
    1.7,
    4.7,
    0.374,
    1.9,
    2.4,
    0.784,
    2.0,
    4.7,
    6.7,
    1.3,
    0.5,
    2.5,
    1.4,
    15.9,
    19.5],
   [201566,
    68,
    'Russell Westbrook',
    1610612746,
    'LAC',
    73,
    29.1,
    5.9,
    13.6,
    0.436,
    1.2,
    3.9,
    0.311,
    2.8,
    4.3,
    0.656,
    1.2,
    4.6,
    5.8,
    7.5,
    1.0,
    0.5,
    3.5,
    15.9,
    18.1],
   [1629023,
    69,
    'P.J. Washington',
    1610612766,
    'CHA',
    73,
    32.6,
    5.9,
    13.4,
    0.444,
    2.0,
    5.9,
    0.348,
    1.7,
    2.4,
    0.73,
    1.0,
    3.9,
    4.9,
    2.4,
    0.9,
    1.1,
    1.5,
    15.7,
    15.4],
   [1629631,
    70,
    "De'Andre Hunter",
    1610612737,
    'ATL',
    67,
    31.7,
    5.7,
    12.3,
    0.461,
    1.5,
    4.3,
    0.35,
    2.6,
    3.1,
    0.826,
    0.7,
    3.6,
    4.2,
    1.4,
    0.5,
    0.3,
    1.2,
    15.4,
    13.4],
   [1630567,
    71,
    'Scottie Barnes',
    1610612761,
    'TOR',
    77,
    34.8,
    6.0,
    13.2,
    0.456,
    0.8,
    2.9,
    0.281,
    2.5,
    3.2,
    0.772,
    2.3,
    4.3,
    6.6,
    4.8,
    1.1,
    0.8,
    2.0,
    15.3,
    18.7],
   [1628989,
    72,
    'Kevin Huerter',
    1610612758,
    'SAC',
    75,
    29.4,
    5.6,
    11.5,
    0.485,
    2.7,
    6.8,
    0.402,
    1.3,
    1.7,
    0.725,
    0.6,
    2.8,
    3.3,
    2.9,
    1.1,
    0.3,
    1.3,
    15.2,
    15.2],
   [203084,
    73,
    'Harrison Barnes',
    1610612758,
    'SAC',
    82,
    32.5,
    4.6,
    9.6,
    0.473,
    1.6,
    4.3,
    0.374,
    4.3,
    5.0,
    0.847,
    1.1,
    3.4,
    4.5,
    1.6,
    0.7,
    0.1,
    1.0,
    15.0,
    14.9],
   [1630193,
    74,
    'Immanuel Quickley',
    1610612752,
    'NYK',
    81,
    28.9,
    5.2,
    11.6,
    0.448,
    2.1,
    5.6,
    0.37,
    2.5,
    3.1,
    0.819,
    0.7,
    3.4,
    4.2,
    3.4,
    1.0,
    0.2,
    1.2,
    14.9,
    15.5],
   [1627763,
    75,
    'Malcolm Brogdon',
    1610612738,
    'BOS',
    67,
    26.0,
    5.3,
    10.9,
    0.484,
    2.0,
    4.4,
    0.444,
    2.4,
    2.7,
    0.87,
    0.6,
    3.6,
    4.2,
    3.7,
    0.7,
    0.3,
    1.5,
    14.9,
    16.3],
   [1630578,
    76,

In [10]:
df = pd.DataFrame(response['resultSet']['rowSet'], columns = response['resultSet']['headers'])
df

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PTS,EFF
0,203954,1,Joel Embiid,1610612755,PHI,66,34.6,11.0,20.1,0.548,...,0.857,1.7,8.4,10.2,4.2,1.0,1.7,3.4,33.1,35.9
1,1629029,2,Luka Doncic,1610612742,DAL,66,36.2,10.9,22.0,0.496,...,0.742,0.8,7.8,8.6,8.0,1.4,0.5,3.6,32.4,33.5
2,203081,3,Damian Lillard,1610612757,POR,58,36.3,9.6,20.7,0.463,...,0.914,0.8,4.0,4.8,7.3,0.9,0.3,3.3,32.2,30.2
3,1628983,4,Shai Gilgeous-Alexander,1610612760,OKC,68,35.5,10.4,20.3,0.510,...,0.905,0.9,4.0,4.8,5.5,1.6,1.0,2.8,31.4,30.5
4,203507,5,Giannis Antetokounmpo,1610612749,MIL,63,32.1,11.2,20.3,0.553,...,0.645,2.2,9.6,11.8,5.7,0.8,0.8,3.9,31.1,32.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,200782,241,P.J. Tucker,1610612755,PHI,75,25.6,1.3,3.0,0.427,...,0.826,1.3,2.7,3.9,0.8,0.5,0.2,0.6,3.5,6.6
241,1630540,242,Miles McBride,1610612752,NYK,64,11.9,1.2,3.4,0.358,...,0.667,0.2,0.6,0.8,1.1,0.6,0.1,0.4,3.5,3.3
242,1630264,243,Anthony Gill,1610612764,WAS,59,10.6,1.2,2.2,0.538,...,0.731,0.6,1.1,1.7,0.6,0.1,0.2,0.3,3.3,4.3
243,1631132,244,Christian Koloko,1610612761,TOR,58,13.8,1.2,2.6,0.480,...,0.627,1.4,1.5,2.9,0.5,0.4,1.0,0.3,3.1,5.9
244,1630586,245,Usman Garuba,1610612745,HOU,75,12.9,1.1,2.4,0.486,...,0.617,1.6,2.5,4.1,0.9,0.6,0.4,0.6,3.0,6.8

In [11]:
url = 'https://www.shauritahutchins.com/nba-draft-combine-anthro/data/anthro_data.csv'

In [12]:
anthro_metrics = pd.read_csv(url)
anthro_metrics

,FIRST_NAME,LAST_NAME,POSITION,HEIGHT_WO_SHOES_FT_IN,HEIGHT_W_SHOES_FT_IN,WEIGHT,WINGSPAN_FT_IN,STANDING_REACH_FT_IN,BODY_FAT_PCT,HAND_LENGTH,HAND_WIDTH
0,Adam,Allenspach,C,6' 11.5'',NaN,259.0,7' 0.5'',8' 11'',12.4,NaN,NaN
1,Gilbert,Arenas,SG,6' 2.25'',NaN,199.0,6' 9.5'',8' 3.5'',5.3,NaN,NaN
2,Brandon,Armstrong,SG,6' 3.5'',NaN,188.0,6' 9.5'',8' 3.5'',9.3,NaN,NaN
3,Shane,Battier,SF-PF,6' 8.25'',NaN,229.0,6' 10.5'',8' 9'',9.3,NaN,NaN
4,Cookie,Belcher,SG-PG,6' 3'',NaN,206.0,6' 8.5'',8' 3'',5.3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1280,Coby,White,PG,6' 3.5'',6' 4.75'',191.4,6' 5'',8' 1.5'',4.3,7.75,9.0
1281,Kris,Wilkes,SF,6' 6.25'',6' 7.75'',208.8,6' 10.75'',8' 7'',4.9,8.50,9.5
1282,Grant,Williams,PF,6' 5.75'',6' 7.5'',240.2,6' 9.75'',8' 8.5'',5.4,9.00,10.5
1283,Zion,Williamson,PF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1284,Dylan,Windler,SF,6' 6.25'',6' 7.5'',195.8,6' 10'',8' 8.5'',4.6,8.25,9.5

In [33]:
anthro_metrics.drop('HEIGHT_W_SHOES_FT_IN', axis=1, inplace=True)

In [35]:
anthro_metrics

,FIRST_NAME,LAST_NAME,POSITION,HEIGHT_WO_SHOES_FT_IN,WEIGHT,WINGSPAN_FT_IN,STANDING_REACH_FT_IN,BODY_FAT_PCT,HAND_LENGTH,HAND_WIDTH
0,Adam,Allenspach,C,6' 11.5'',259.0,7' 0.5'',8' 11'',12.4,NaN,NaN
1,Gilbert,Arenas,SG,6' 2.25'',199.0,6' 9.5'',8' 3.5'',5.3,NaN,NaN
2,Brandon,Armstrong,SG,6' 3.5'',188.0,6' 9.5'',8' 3.5'',9.3,NaN,NaN
3,Shane,Battier,SF-PF,6' 8.25'',229.0,6' 10.5'',8' 9'',9.3,NaN,NaN
4,Cookie,Belcher,SG-PG,6' 3'',206.0,6' 8.5'',8' 3'',5.3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1280,Coby,White,PG,6' 3.5'',191.4,6' 5'',8' 1.5'',4.3,7.75,9.0
1281,Kris,Wilkes,SF,6' 6.25'',208.8,6' 10.75'',8' 7'',4.9,8.50,9.5
1282,Grant,Williams,PF,6' 5.75'',240.2,6' 9.75'',8' 8.5'',5.4,9.00,10.5
1283,Zion,Williamson,PF,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1284,Dylan,Windler,SF,6' 6.25'',195.8,6' 10'',8' 8.5'',4.6,8.25,9.5

In [47]:
for col in anthro_metrics.columns:
    print(col)
    print(anthro_metrics[col].isna().sum())
    print('-----------')

FIRST_NAME
0
-----------
LAST_NAME
1
-----------
POSITION
5
-----------
HEIGHT_WO_SHOES_FT_IN
13
-----------
WEIGHT
15
-----------
WINGSPAN_FT_IN
12
-----------
STANDING_REACH_FT_IN
14
-----------
BODY_FAT_PCT
180
-----------
HAND_LENGTH
684
-----------
HAND_WIDTH
684
-----------

In [48]:
from nba_api.stats.static import players
player_dict = players.get_players()

# Use ternary operator or write function 
# Names are case sensitive
bron = [player for player in player_dict if player['full_name'] == 'LeBron James'][0]
bron_id = bron['id']

# find team Ids
from nba_api.stats.static import teams 
teams = teams.get_teams()
GSW = [x for x in teams if x['full_name'] == 'Golden State Warriors'][0]
GSW_id = GSW['id']

In [49]:
bron

{'id': 2544,
 'full_name': 'LeBron James',
 'first_name': 'LeBron',
 'last_name': 'James',
 'is_active': True}

In [50]:
bron_id

2544

In [52]:
player_dict
len(player_dict)

4815

In [53]:
teams

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Georgia',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970},
 {'id': 1610612740,
  'full_name': 'New Orleans Pelicans',
  'abbreviation': 'NOP',
  'nickname': 'Pelicans',
  'city': 'New Orleans',
  'state': 'Louisiana',
  'year_founded': 2002},
 {'id': 1610612741,
  'full_name': 'Chicago Bulls',
  'abbreviation': 'CHI',
  'nickname': 'Bulls',
  'city': 'Chicago',
  'state': 'Illinois',
  'year_founded': 1966},
 {'id': 1610612742,
  'full_name': 'Dallas Mavericks',
  'abbreviation': 'DAL',
  'nickname': 'Mavericks',
  'city': 'Dallas',
  'state': 'Texas',
  'year_founded': 1980},
 {'id': 1610612743,
  'full_name': 'Denver Nuggets',
  'abbreviation': 'DEN',
  'nickname': 'Nuggets',
  'city': 'Denver',
  'state': 'Colorado',
  'year_founded': 1976},
 {'id': 1610612744,
  'full_name': 'Golden State Warriors',
  'abbreviation': 'GSW',
  'nickname': 'Warriors',
  'city': 'Golden State',
  'state': 'California',
  'year_founded': 1946},
 {'id': 1610612745,
  'full_name': 'Houston Rockets',
  'abbreviation': 'HOU',
  'nickname': 'Rockets',
  'city': 'Houston',
  'state': 'Texas',
  'year_founded': 1967},
 {'id': 1610612746,
  'full_name': 'Los Angeles Clippers',
  'abbreviation': 'LAC',
  'nickname': 'Clippers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1970},
 {'id': 1610612747,
  'full_name': 'Los Angeles Lakers',
  'abbreviation': 'LAL',
  'nickname': 'Lakers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1948},
 {'id': 1610612748,
  'full_name': 'Miami Heat',
  'abbreviation': 'MIA',
  'nickname': 'Heat',
  'city': 'Miami',
  'state': 'Florida',
  'year_founded': 1988},
 {'id': 1610612749,
  'full_name': 'Milwaukee Bucks',
  'abbreviation': 'MIL',
  'nickname': 'Bucks',
  'city': 'Milwaukee',
  'state': 'Wisconsin',
  'year_founded': 1968},
 {'id': 1610612750,
  'full_name': 'Minnesota Timberwolves',
  'abbreviation': 'MIN',
  'nickname': 'Timberwolves',
  'city': 'Minnesota',
  'state': 'Minnesota',
  'year_founded': 1989},
 {'id': 1610612751,
  'full_name': 'Brooklyn Nets',
  'abbreviation': 'BKN',
  'nickname': 'Nets',
  'city': 'Brooklyn',
  'state': 'New York',
  'year_founded': 1976},
 {'id': 1610612752,
  'full_name': 'New York Knicks',
  'abbreviation': 'NYK',
  'nickname': 'Knicks',
  'city': 'New York',
  'state': 'New York',
  'year_founded': 1946},
 {'id': 1610612753,
  'full_name': 'Orlando Magic',
  'abbreviation': 'ORL',
  'nickname': 'Magic',
  'city': 'Orlando',
  'state': 'Florida',
  'year_founded': 1989},
 {'id': 1610612754,
  'full_name': 'Indiana Pacers',
  'abbreviation': 'IND',
  'nickname': 'Pacers',
  'city': 'Indiana',
  'state': 'Indiana',
  'year_founded': 1976},
 {'id': 1610612755,
  'full_name': 'Philadelphia 76ers',
  'abbreviation': 'PHI',
  'nickname': '76ers',
  'city': 'Philadelphia',
  'state': 'Pennsylvania',
  'year_founded': 1949},
 {'id': 1610612756,
  'full_name': 'Phoenix Suns',
  'abbreviation': 'PHX',
  'nickname': 'Suns',
  'city': 'Phoenix',
  'state': 'Arizona',
  'year_founded': 1968},
 {'id': 1610612757,
  'full_name': 'Portland Trail Blazers',
  'abbreviation': 'POR',
  'nickname': 'Trail Blazers',
  'city': 'Portland',
  'state': 'Oregon',
  'year_founded': 1970},
 {'id': 1610612758,
  'full_name': 'Sacramento Kings',
  'abbreviation': 'SAC',
  'nickname': 'Kings',
  'city': 'Sacramento',
  'state': 'California',
  'year_founded': 1948},
 {'id': 1610612759,
  'full_name': 'San Antonio Spurs',
  'abbreviation': 'SAS',
  'nickname': 'Spurs',
  'city': 'San Antonio',
  'state': 'Texas',
  'year_founded': 1976},
 {'id': 1610612760,
  'full_name': 'Oklahoma City Thunder',
  'abbreviation': 'OKC',
  'nickname': 'Thunder',
  'city': 'Oklahoma City',
  'state': 'Oklahoma',
  'year_founded': 1967},
 {'id': 1610612761,
  'full_name': 'Toronto Raptors',
  'abbreviation': 'TOR',
  'nickname': 'Raptors',
  'city': 'Toronto',
  'state': 'Ontario',
  'year_founded': 1995},
 {'id': 1610612762,
  'full_name': 'Utah Jazz',
  'abbreviation': 'UTA',
  'nickname': 'Jazz',
  'city': 'Utah',
  'state': 'Utah',
  'year_founded': 1974},
 {'id': 1610612763,
  'full_name': 'Memphis Grizzlies',
  'abbreviation': 'MEM',
  'nickname': 'Grizzlies',
  'city': 'Memphis',
  'state': 'Tennessee',
  'year_founded': 1995},
 {'id': 1610612764,
  'full_name': 'Washington Wizards',
  'abbreviation': 'WAS',
  'nickname': 'Wizards',
  'city': 'Washington',
  'state': 'District of Columbia',
  'year_founded': 1961},
 {'id': 1610612765,
  'full_name': 'Detroit Pistons',
  'abbreviation': 'DET',
  'nickname': 'Pistons',
  'city': 'Detroit',
  'state': 'Michigan',
  'year_founded': 1948},
 {'id': 1610612766,
  'full_name': 'Charlotte Hornets',
  'abbreviation': 'CHA',
  'nickname': 'Hornets',
  'city': 'Charlotte',
  'state': 'North Carolina',
  'year_founded': 1988}]

In [54]:
GSW

{'id': 1610612744,
 'full_name': 'Golden State Warriors',
 'abbreviation': 'GSW',
 'nickname': 'Warriors',
 'city': 'Golden State',
 'state': 'California',
 'year_founded': 1946}

In [6]:
 
from nba_api.stats.endpoints import draftcombineplayeranthro

In [85]:
draftcombineplayeranthro.DraftCombinePlayerAnthro(season_year=2009).get_data_frames()[0].head()

,TEMP_PLAYER_ID,PLAYER_ID,FIRST_NAME,LAST_NAME,PLAYER_NAME,POSITION,HEIGHT_WO_SHOES,HEIGHT_WO_SHOES_FT_IN,HEIGHT_W_SHOES,HEIGHT_W_SHOES_FT_IN,WEIGHT,WINGSPAN,WINGSPAN_FT_IN,STANDING_REACH,STANDING_REACH_FT_IN,BODY_FAT_PCT,HAND_LENGTH,HAND_WIDTH
0,None,202399,Jeff,Adrien,Jeff Adrien,PF,77.25,6' 5.25'',78.50,6' 6.5'',236.2,86.00,7' 2'',107.5,8' 11.5'',7.9,None,None
1,None,201965,Jeff,Ayres,Jeff Ayres,PF,80.75,6' 8.75'',82.00,6' 10'',239.6,85.00,7' 1'',107.0,8' 11'',5.5,None,None
2,None,201958,Rodrigue,Beaubois,Rodrigue Beaubois,PG,73.25,6' 1.25'',74.25,6' 2.25'',182.4,81.75,6' 9.75'',100.0,8' 4'',7.9,None,None
3,None,201971,DeJuan,Blair,DeJuan Blair,PF,77.25,6' 5.25'',78.50,6' 6.5'',276.6,86.00,7' 2'',106.5,8' 10.5'',12.0,None,None
4,None,201974,Derrick,Brown,Derrick Brown,SF-PF,79.50,6' 7.5'',80.50,6' 8.5'',224.6,86.50,7' 2.5'',107.5,8' 11.5'',8.6,None,None

In [2]:
from nba_api.stats.endpoints import leagueleaders

In [3]:
leagueleaders.LeagueLeaders(season='2022-23').get_data_frames()[0]

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,1628369,1,Jayson Tatum,1610612738,BOS,74,2732,727,1559,0.466,...,649,342,78,51,213,160,2225,2209,1.61,0.37
1,203954,2,Joel Embiid,1610612755,PHI,66,2284,728,1328,0.548,...,670,274,66,112,226,205,2183,2369,1.21,0.29
2,1629029,3,Luka Doncic,1610612742,DAL,66,2391,719,1449,0.496,...,569,529,90,33,236,166,2138,2214,2.24,0.38
3,1628983,4,Shai Gilgeous-Alexander,1610612760,OKC,68,2416,704,1381,0.510,...,329,371,112,65,192,192,2135,2073,1.93,0.58
4,203507,5,Giannis Antetokounmpo,1610612749,MIL,63,2024,707,1278,0.553,...,742,359,52,51,246,197,1959,2072,1.46,0.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,1631214,535,Alondes Williams,1610612751,BKN,1,5,0,0,0.000,...,1,0,0,0,2,1,0,-1,0.00,0.00
535,1629126,535,Deonte Burton,1610612758,SAC,2,7,0,2,0.000,...,0,0,0,0,0,0,0,-2,0.00,0.00
536,1628402,535,Frank Jackson,1610612762,UTA,1,5,0,3,0.000,...,2,1,0,0,0,0,0,0,0.00,0.00
537,1630701,535,Michael Foster Jr.,1610612755,PHI,1,1,0,0,0.000,...,0,0,0,0,0,0,0,0,0.00,0.00
538,1628425,535,Sterling Brown,1610612747,LAL,4,24,0,4,0.000,...,8,2,3,0,0,4,0,9,0.00,0.00

In [4]:
leagueleaders.LeagueLeaders(season='2021-22').get_data_frames()[0]

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,1629027,1,Trae Young,1610612737,ATL,76,2652,711,1544,0.460,...,284,737,72,7,303,128,2155,2066,2.43,0.24
1,201942,2,DeMar DeRozan,1610612741,CHI,76,2743,774,1535,0.504,...,392,374,68,24,181,178,2118,1961,2.07,0.38
2,203954,3,Joel Embiid,1610612755,PHI,68,2296,666,1334,0.499,...,796,284,77,99,214,181,2079,2304,1.33,0.36
3,1628369,4,Jayson Tatum,1610612738,BOS,76,2731,708,1564,0.453,...,609,334,75,49,217,174,2046,1971,1.54,0.35
4,203999,5,Nikola Jokic,1610612743,DEN,74,2476,764,1311,0.583,...,1019,584,109,63,281,191,2004,2862,2.08,0.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,1630207,582,Nate Hinton,1610612754,IND,2,2,0,1,0.000,...,0,0,0,0,1,0,0,-2,0.00,0.00
601,1626155,582,Sam Dekker,1610612761,TOR,1,1,0,0,0.000,...,0,0,0,0,0,0,0,0,0.00,0.00
602,1629309,582,Trayvon Palmer,1610612765,DET,1,17,0,1,0.000,...,2,0,0,0,1,2,0,0,0.00,0.00
603,1629788,582,Tyler Hall,1610612752,NYK,1,2,0,0,0.000,...,0,0,0,0,0,0,0,0,0.00,0.00
604,1629597,582,Zylan Cheatham,1610612762,UTA,1,5,0,3,0.000,...,0,0,0,0,0,0,0,-3,0.00,0.00

In [64]:
# First we import the endpoint
# We will be using pandas dataframes to manipulate the data
from nba_api.stats.endpoints import playergamelog
import pandas as pd 

#Call the API endpoint passing in lebron's ID & which season 
gamelog_bron = playergamelog.PlayerGameLog(player_id='2544', season = '2018')

#Converts gamelog object into a pandas dataframe
#can also convert to JSON or dictionary  
df_bron_games_2018 = gamelog_bron.get_data_frames()

# If you want all seasons, you must import the SeasonAll parameter 
from nba_api.stats.library.parameters import SeasonAll

gamelog_bron_all = playergamelog.PlayerGameLog(player_id='2544', season = SeasonAll.all)

df_bron_games_all = gamelog_bron_all.get_data_frames()

In [ ]:
gamelog_bron

In [66]:
df_bron_games_all[0]

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22022,2544,0022201228,"APR 09, 2023",LAL vs. UTA,W,33,13,25,0.520,...,5,6,6,1,1,2,0,36,20,1
1,22022,2544,0022201212,"APR 07, 2023",LAL vs. PHX,W,29,6,19,0.316,...,6,6,6,0,0,5,1,16,11,1
2,22022,2544,0022201196,"APR 05, 2023",LAL @ LAC,L,35,13,20,0.650,...,8,8,7,1,1,6,0,33,-10,1
3,22022,2544,0022201186,"APR 04, 2023",LAL @ UTA,W,38,14,27,0.519,...,5,5,6,1,1,5,2,37,-7,1
4,22022,2544,0022201171,"APR 02, 2023",LAL @ HOU,W,29,8,18,0.444,...,8,10,11,0,1,1,1,18,23,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1416,22003,2544,0020300068,"NOV 07, 2003",CLE @ IND,L,44,8,18,0.444,...,5,5,3,0,0,7,2,23,-7,0
1417,22003,2544,0020300057,"NOV 05, 2003",CLE vs. DEN,L,41,3,11,0.273,...,9,11,7,2,3,2,1,7,-3,0
1418,22003,2544,0020300038,"NOV 01, 2003",CLE @ POR,L,39,3,12,0.250,...,4,4,6,2,0,2,3,8,-21,0
1419,22003,2544,0020300018,"OCT 30, 2003",CLE @ PHX,L,41,8,17,0.471,...,10,12,8,1,0,7,1,21,-3,0
1420,22003,2544,0020300014,"OCT 29, 2003",CLE @ SAC,L,42,12,20,0.600,...,4,6,9,4,0,2,3,25,-9,0

In [77]:
display(df_bron_games_all[0])

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22022,2544,0022201228,"APR 09, 2023",LAL vs. UTA,W,33,13,25,0.520,...,5,6,6,1,1,2,0,36,20,1
1,22022,2544,0022201212,"APR 07, 2023",LAL vs. PHX,W,29,6,19,0.316,...,6,6,6,0,0,5,1,16,11,1
2,22022,2544,0022201196,"APR 05, 2023",LAL @ LAC,L,35,13,20,0.650,...,8,8,7,1,1,6,0,33,-10,1
3,22022,2544,0022201186,"APR 04, 2023",LAL @ UTA,W,38,14,27,0.519,...,5,5,6,1,1,5,2,37,-7,1
4,22022,2544,0022201171,"APR 02, 2023",LAL @ HOU,W,29,8,18,0.444,...,8,10,11,0,1,1,1,18,23,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1416,22003,2544,0020300068,"NOV 07, 2003",CLE @ IND,L,44,8,18,0.444,...,5,5,3,0,0,7,2,23,-7,0
1417,22003,2544,0020300057,"NOV 05, 2003",CLE vs. DEN,L,41,3,11,0.273,...,9,11,7,2,3,2,1,7,-3,0
1418,22003,2544,0020300038,"NOV 01, 2003",CLE @ POR,L,39,3,12,0.250,...,4,4,6,2,0,2,3,8,-21,0
1419,22003,2544,0020300018,"OCT 30, 2003",CLE @ PHX,L,41,8,17,0.471,...,10,12,8,1,0,7,1,21,-3,0
1420,22003,2544,0020300014,"OCT 29, 2003",CLE @ SAC,L,42,12,20,0.600,...,4,6,9,4,0,2,3,25,-9,0

In [79]:
df_bron_games_2018[0]

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22018,2544,0021801135,"MAR 29, 2019",LAL vs. CHA,W,32,11,19,0.579,...,3,3,9,0,0,6,1,27,14,1
1,22018,2544,0021801116,"MAR 26, 2019",LAL vs. WAS,W,34,11,20,0.550,...,7,7,14,1,0,3,1,23,3,1
2,22018,2544,0021801102,"MAR 24, 2019",LAL vs. SAC,W,35,9,22,0.409,...,9,11,11,2,1,4,1,29,5,1
3,22018,2544,0021801086,"MAR 22, 2019",LAL vs. BKN,L,37,8,25,0.320,...,6,9,14,1,1,8,3,25,-2,1
4,22018,2544,0021801042,"MAR 17, 2019",LAL @ NYK,L,35,11,26,0.423,...,4,6,8,0,1,2,2,33,9,2
5,22018,2544,0021801023,"MAR 14, 2019",LAL @ TOR,L,32,12,23,0.522,...,4,4,6,1,0,4,2,29,0,1
6,22018,2544,0021801009,"MAR 12, 2019",LAL @ CHI,W,33,15,23,0.652,...,9,10,4,2,0,5,2,36,9,1
7,22018,2544,0021800989,"MAR 09, 2019",LAL vs. BOS,L,28,13,23,0.565,...,8,10,12,0,0,3,0,30,11,1
8,22018,2544,0021800974,"MAR 06, 2019",LAL vs. DEN,L,31,13,22,0.591,...,7,7,7,1,1,4,4,31,-8,1
9,22018,2544,0021800958,"MAR 04, 2019",LAL vs. LAC,L,42,9,18,0.500,...,8,8,6,1,1,2,3,27,-11,1
10,22018,2544,0021800942,"MAR 02, 2019",LAL @ PHX,L,41,10,21,0.476,...,9,9,16,0,0,3,2,27,-1,1
11,22018,2544,0021800934,"MAR 01, 2019",LAL vs. MIL,L,39,10,19,0.526,...,5,7,10,1,0,3,2,31,-4,1
12,22018,2544,0021800921,"FEB 27, 2019",LAL vs. NOP,W,37,13,24,0.542,...,5,6,10,2,1,2,2,33,2,1
13,22018,2544,0021800904,"FEB 25, 2019",LAL @ MEM,L,40,8,23,0.348,...,9,12,11,3,0,5,3,24,2,1
14,22018,2544,0021800887,"FEB 23, 2019",LAL @ NOP,L,39,11,17,0.647,...,7,7,12,4,1,4,0,27,-10,1
15,22018,2544,0021800872,"FEB 21, 2019",LAL vs. HOU,W,40,11,23,0.478,...,8,12,6,1,1,4,1,29,6,1
16,22018,2544,0021800848,"FEB 12, 2019",LAL @ ATL,L,43,8,20,0.400,...,9,11,16,3,1,2,3,28,0,1
17,22018,2544,0021800835,"FEB 10, 2019",LAL @ PHI,L,33,8,16,0.500,...,10,10,9,0,0,4,3,18,0,1
18,22018,2544,0021800814,"FEB 07, 2019",LAL @ BOS,W,38,11,21,0.524,...,10,12,12,3,0,3,4,28,11,1
19,22018,2544,0021800798,"FEB 05, 2019",LAL @ IND,L,30,7,12,0.583,...,7,7,9,1,0,6,1,18,-17,1
20,22018,2544,0021800769,"JAN 31, 2019",LAL @ LAC,W,40,9,22,0.409,...,13,14,9,1,0,4,0,24,2,1
21,22018,2544,0021800500,"DEC 25, 2018",LAL @ GSW,W,21,6,11,0.545,...,11,13,5,1,0,2,1,17,5,1
22,22018,2544,0021800496,"DEC 23, 2018",LAL vs. MEM,L,36,8,14,0.571,...,13,14,7,1,1,4,0,22,-3,1
23,22018,2544,0021800478,"DEC 21, 2018",LAL vs. NOP,W,39,8,20,0.400,...,10,12,14,2,0,2,3,22,13,1
24,22018,2544,0021800453,"DEC 18, 2018",LAL @ BKN,L,41,13,23,0.565,...,12,13,8,1,1,5,1,36,4,1
25,22018,2544,0021800439,"DEC 16, 2018",LAL @ WAS,L,32,5,16,0.313,...,6,6,3,0,1,4,0,13,-21,1
26,22018,2544,0021800430,"DEC 15, 2018",LAL @ CHA,W,30,7,15,0.467,...,11,12,11,1,0,3,0,24,31,1
27,22018,2544,0021800416,"DEC 13, 2018",LAL @ HOU,L,36,12,18,0.667,...,5,5,4,2,0,3,1,29,-9,1
28,22018,2544,0021800401,"DEC 10, 2018",LAL vs. MIA,W,38,10,19,0.526,...,9,9,12,1,0,2,0,28,18,1
29,22018,2544,0021800384,"DEC 08, 2018",LAL @ MEM,W,32,9,18,0.500,...,7,8,9,2,0,5,2,20,21,1
30,22018,2544,0021800375,"DEC 07, 2018",LAL @ SAS,L,37,13,28,0.464,...,6,8,11,2,0,1,4,35,-19,1
31,22018,2544,0021800364,"DEC 05, 2018",LAL vs. SAS,W,40,15,24,0.625,...,5,5,6,2,0,2,1,42,19,1
32,22018,2544,0021800337,"DEC 02, 2018",LAL vs. PHX,W,31,9,17,0.529,...,6,6,8,0,1,5,0,22,12,1
33,22018,2544,0021800328,"NOV 30, 2018",LAL vs. DAL,W,31,12,21,0.571,...,3,5,4,0,1,4,3,28,10,1
34,22018,2544,0021800317,"NOV 29, 2018",LAL vs. IND,W,38,15,27,0.556,...,8,9,7,2,0,4,2,38,19,1
35,22018,2544,0021800304,"NOV 27, 2018",LAL @ DEN,L,30,5,15,0.333,...,7,7,2,2,2,4,0,14,-23,1
36,22018,2544,0021800286,"NOV 25, 2018",LAL vs. ORL,L,40,8,14,0.571,...,4,4,7,0,1,6,4,24,-14,1
37,22018,2544,0021800278,"NOV 23, 2018",LAL vs. UTA,W,35,8,17,0.471,...,9,10,7,2,1,5,1,22,13,1
38,22018,2544,0021800256,"NOV 21, 2018",LAL @ CLE,W,36,11,20,0.550,...,12,14,7,0,1,4,3,32,9,1
39,22018,2544,0021800235,"NOV 18, 2018",LAL @ MIA,W,38,19,31,0.613,...,7,8,3,2,1,2,3,51,20,1
40,22018,2544,0021800227,"NOV 17, 2018",LAL @ ORL,L,26,8,19,0.421,...,4,4,7,0,1,3,0,22,-11,1
41,22018,2544,0021800212,"NOV 14, 2018",LAL vs. POR,W,36,13,19,0.684,...,8,10,9,1,3,4,0,44,4,1
42,22018,2544,0021800189,"NOV 11, 2018",LAL vs. ATL,W,34,10,20,0.500,...,4,7,4,2,0,4,1,26,22,1
43,22018,2544,0021800183,"NOV 10, 2018",LAL @ SAC,W,31,10,18,0.556,...,6,7,2,1,0,3,2,25,2,1
44,22018,2544,0021800162,"NOV 07, 2018",LAL vs. MIN,W,39,10,21,0.476,...,10,11,9,0,2,3,1,24,3,1
45,22018,2544,0021800139,"NOV 04, 2018",LAL vs. TOR,L,28,6,12,0.500,...,2,2,6,0,1,3,3,18,-16,1
46,22018,2544,0021800132,"NOV 03, 2018",LAL @ POR,W,31,9,20,0.450,...,5,5,7,0,2,3,1,28,-22,1
47,22018,2544,0021800109,"OCT 31, 2018",LAL vs. DAL,W,39,11,19,0.579,...,5,5,6,3,0,3,3,29,5,1
48,22018,2544,0021800093,"OCT 29, 2018",LAL @ MIN,L,36,11,23,0.478,...,7,10,8,2,2,5,2,29,-6,1
49,22018,2544,0021800082,"OCT 27, 2018",LAL @ SAS,L,34,13,21,0.619,...,10,11,4,2,0,4,3,35,-1,1
50,22018,2544,0021800066,"OCT 25, 2018",LAL vs. DEN,W,35,10,17,0.588,...,11,11,11,3,0,2,3,28,13,1
51,22018,2544,0021800060,"OCT 24, 2018",LAL @ PHX,W,28,7,16,0.438,...,7,7,10,3,0,0,1,19,19,1
52,22018,2544,0021800048,"OCT 22, 2018",LAL vs. SAS,L,43,11,25,0.440,...,6,8,14,1,1,5,2,32,-5,1
53,22018,2544,0021800035,"OCT 20, 2018",LAL vs. HOU,L,39,9,22,0.409,...,5,5,5,2,1,1,0,24,-13,1
54,22018,2544,0021800016,"OCT 18, 2018",LAL @ POR,L,37,9,16,0.563,...,10,12,6,1,0,6,3,26,-4,1

In [90]:
from nba_api.stats.endpoints import playercareerstats

In [94]:
player_dict = players.get_players()
player_dict

[{'id': 76001,
  'full_name': 'Alaa Abdelnaby',
  'first_name': 'Alaa',
  'last_name': 'Abdelnaby',
  'is_active': False},
 {'id': 76002,
  'full_name': 'Zaid Abdul-Aziz',
  'first_name': 'Zaid',
  'last_name': 'Abdul-Aziz',
  'is_active': False},
 {'id': 76003,
  'full_name': 'Kareem Abdul-Jabbar',
  'first_name': 'Kareem',
  'last_name': 'Abdul-Jabbar',
  'is_active': False},
 {'id': 51,
  'full_name': 'Mahmoud Abdul-Rauf',
  'first_name': 'Mahmoud',
  'last_name': 'Abdul-Rauf',
  'is_active': False},
 {'id': 1505,
  'full_name': 'Tariq Abdul-Wahad',
  'first_name': 'Tariq',
  'last_name': 'Abdul-Wahad',
  'is_active': False},
 {'id': 949,
  'full_name': 'Shareef Abdur-Rahim',
  'first_name': 'Shareef',
  'last_name': 'Abdur-Rahim',
  'is_active': False},
 {'id': 76005,
  'full_name': 'Tom Abernethy',
  'first_name': 'Tom',
  'last_name': 'Abernethy',
  'is_active': False},
 {'id': 76006,
  'full_name': 'Forest Able',
  'first_name': 'Forest',
  'last_name': 'Able',
  'is_active': False},
 {'id': 76007,
  'full_name': 'John Abramovic',
  'first_name': 'John',
  'last_name': 'Abramovic',
  'is_active': False},
 {'id': 203518,
  'full_name': 'Alex Abrines',
  'first_name': 'Alex',
  'last_name': 'Abrines',
  'is_active': False},
 {'id': 1630173,
  'full_name': 'Precious Achiuwa',
  'first_name': 'Precious',
  'last_name': 'Achiuwa',
  'is_active': True},
 {'id': 101165,
  'full_name': 'Alex Acker',
  'first_name': 'Alex',
  'last_name': 'Acker',
  'is_active': False},
 {'id': 76008,
  'full_name': 'Donald Ackerman',
  'first_name': 'Donald',
  'last_name': 'Ackerman',
  'is_active': False},
 {'id': 76009,
  'full_name': 'Mark Acres',
  'first_name': 'Mark',
  'last_name': 'Acres',
  'is_active': False},
 {'id': 76010,
  'full_name': 'Charles Acton',
  'first_name': 'Charles',
  'last_name': 'Acton',
  'is_active': False},
 {'id': 203112,
  'full_name': 'Quincy Acy',
  'first_name': 'Quincy',
  'last_name': 'Acy',
  'is_active': False},
 {'id': 76011,
  'full_name': 'Alvan Adams',
  'first_name': 'Alvan',
  'last_name': 'Adams',
  'is_active': False},
 {'id': 76012,
  'full_name': 'Don Adams',
  'first_name': 'Don',
  'last_name': 'Adams',
  'is_active': False},
 {'id': 200801,
  'full_name': 'Hassan Adams',
  'first_name': 'Hassan',
  'last_name': 'Adams',
  'is_active': False},
 {'id': 1629121,
  'full_name': 'Jaylen Adams',
  'first_name': 'Jaylen',
  'last_name': 'Adams',
  'is_active': False},
 {'id': 203919,
  'full_name': 'Jordan Adams',
  'first_name': 'Jordan',
  'last_name': 'Adams',
  'is_active': False},
 {'id': 149,
  'full_name': 'Michael Adams',
  'first_name': 'Michael',
  'last_name': 'Adams',
  'is_active': False},
 {'id': 203500,
  'full_name': 'Steven Adams',
  'first_name': 'Steven',
  'last_name': 'Adams',
  'is_active': True},
 {'id': 912,
  'full_name': 'Rafael Addison',
  'first_name': 'Rafael',
  'last_name': 'Addison',
  'is_active': False},
 {'id': 1628389,
  'full_name': 'Bam Adebayo',
  'first_name': 'Bam',
  'last_name': 'Adebayo',
  'is_active': True},
 {'id': 1629061,
  'full_name': 'Deng Adel',
  'first_name': 'Deng',
  'last_name': 'Adel',
  'is_active': False},
 {'id': 76015,
  'full_name': 'Rick Adelman',
  'first_name': 'Rick',
  'last_name': 'Adelman',
  'is_active': False},
 {'id': 202399,
  'full_name': 'Jeff Adrien',
  'first_name': 'Jeff',
  'last_name': 'Adrien',
  'is_active': False},
 {'id': 201167,
  'full_name': 'Arron Afflalo',
  'first_name': 'Arron',
  'last_name': 'Afflalo',
  'is_active': False},
 {'id': 1630534,
  'full_name': 'Ochai Agbaji',
  'first_name': 'Ochai',
  'last_name': 'Agbaji',
  'is_active': True},
 {'id': 200772,
  'full_name': 'Maurice Ager',
  'first_name': 'Maurice',
  'last_name': 'Ager',
  'is_active': False},
 {'id': 76016,
  'full_name': 'Mark Aguirre',
  'first_name': 'Mark',
  'last_name': 'Aguirre',
  'is_active': False},
 {'id': 201336,
  'full_name': 'Blake Ahearn',
  'first_name': 'Blake',
  'last_name': 'Ahearn',
  'is_active': False},
 {'id': 76017,
  'full_name': 'Danny Ainge',
  'first_name': 'Danny',
  'last_name': 'Ainge',
  'is_active': False},
 {'id': 201582,
  'full_name': 'Alexis Ajinca',
  'first_name': 'Alexis',
  'last_name': 'Ajinca',
  'is_active': False},
 {'id': 76018,
  'full_name': 'Henry Akin',
  'first_name': 'Henry',
  'last_name': 'Akin',
  'is_active': False},
 {'id': 203006,
  'full_name': 'Josh Akognon',
  'first_name': 'Josh',
  'last_name': 'Akognon',
  'is_active': False},
 {'id': 1629152,
  'full_name': 'DeVaughn Akoon-Purcell',
  'first_name': 'DeVaughn',
  'last_name': 'Akoon-Purcell',
  'is_active': False},
 {'id': 202374,
  'full_name': 'Solomon Alabi',
  'first_name': 'Solomon',
  'last_name': 'Alabi',
  'is_active': False},
 {'id': 76019,
  'full_name': 'Mark Alarie',
  'first_name': 'Mark',
  'last_name': 'Alarie',
  'is_active': False},
 {'id': 76020,
  'full_name': 'Gary Alcorn',
  'first_name': 'Gary',
  'last_name': 'Alcorn',
  'is_active': False},
 {'id': 1630583,
  'full_name': 'Santi Aldama',
  'first_name': 'Santi',
  'last_name': 'Aldama',
  'is_active': True},
 {'id': 203128,
  'full_name': 'Furkan Aldemir',
  'first_name': 'Furkan',
  'last_name': 'Aldemir',
  'is_active': False},
 {'id': 202332,
  'full_name': 'Cole Aldrich',
  'first_name': 'Cole',
  'last_name': 'Aldrich',
  'is_active': False},
 {'id': 200746,
  'full_name': 'LaMarcus Aldridge',
  'first_name': 'LaMarcus',
  'last_name': 'Aldridge',
  'is_active': False},
 {'id': 76021,
  'full_name': 'Chuck Aleksinas',
  'first_name': 'Chuck',
  'last_name': 'Aleksinas',
  'is_active': False},
 {'id': 1626146,
  'full_name': 'Cliff Alexander',
  'first_name': 'Cliff',
  'last_name': 'Alexander',
  'is_active': False},
 {'id': 724,
  'full_name': 'Cory Alexander',
  'first_name': 'Cory',
  'last_name': 'Alexander',
  'is_active': False},
 {'id': 2042,
  'full_name': 'Courtney Alexander',
  'first_name': 'Courtney',
  'last_name': 'Alexander',
  'is_active': False},
 {'id': 76022,
  'full_name': 'Gary Alexander',
  'first_name': 'Gary',
  'last_name': 'Alexander',
  'is_active': False},
 {'id': 201570,
  'full_name': 'Joe Alexander',
  'first_name': 'Joe',
  'last_name': 'Alexander',
  'is_active': False},
 {'id': 1629734,
  'full_name': 'Kyle Alexander',
  'first_name': 'Kyle',
  'last_name': 'Alexander',
  'is_active': False},
 {'id': 1630234,
  'full_name': 'Ty-Shon Alexander',
  'first_name': 'Ty-Shon',
  'last_name': 'Alexander',
  'is_active': False},
 {'id': 2349,
  'full_name': 'Victor Alexander',
  'first_name': 'Victor',
  'last_name': 'Alexander',
  'is_active': False},
 {'id': 1629638,
  'full_name': 'Nickeil Alexander-Walker',
  'first_name': 'Nickeil',
  'last_name': 'Alexander-Walker',
  'is_active': True},
 {'id': 76024,
  'full_name': 'Steve Alford',
  'first_name': 'Steve',
  'last_name': 'Alford',
  'is_active': False},
 {'id': 1628959,
  'full_name': 'Rawle Alkins',
  'first_name': 'Rawle',
  'last_name': 'Alkins',
  'is_active': False},
 {'id': 76028,
  'full_name': 'Bob Allen',
  'first_name': 'Bob',
  'last_name': 'Allen',
  'is_active': False},
 {'id': 1628960,
  'full_name': 'Grayson Allen',
  'first_name': 'Grayson',
  'last_name': 'Allen',
  'is_active': True},
 {'id': 1628386,
  'full_name': 'Jarrett Allen',
  'first_name': 'Jarrett',
  'last_name': 'Allen',
  'is_active': True},
 {'id': 706,
  'full_name': 'Jerome Allen',
  'first_name': 'Jerome',
  'last_name': 'Allen',
  'is_active': False},
 {'id': 1628443,
  'full_name': 'Kadeem Allen',
  'first_name': 'Kadeem',
  'last_name': 'Allen',
  'is_active': False},
 {'id': 202730,
  'full_name': 'Lavoy Allen',
  'first_name': 'Lavoy',
  'last_name': 'Allen',
  'is_active': False},
 {'id': 76027,
  'full_name': 'Lucius Allen',
  'first_name': 'Lucius',
  'last_name': 'Allen',
  'is_active': False},
 {'id': 2124,
  'full_name': 'Malik Allen',
  'first_name': 'Malik',
  'last_name': 'Allen',
  'is_active': False},
 {'id': 76025,
  'full_name': 'Randy Allen',
  'first_name': 'Randy',
  'last_name': 'Allen',
  'is_active': False},
 {'id': 951,
  'full_name': 'Ray Allen',
  'first_name': 'Ray',
  'last_name': 'Allen',
  'is_active': False},
 {'id': 2754,
  'full_name': 'Tony Allen',
  'first_name': 'Tony',
  'last_name': 'Allen',
  'is_active': False},
 {'id': 76029,
  'full_name': 'Odis Allison',
  'first_name': 'Odis',
  'last_name': 'Allison',
  'is_active': False},
 {'id': 200984,
  'full_name': 'Lance Allred',
  'first_name': 'Lance',
  'last_name': 'Allred',
  'is_active': False},
 {'id': 76030,
  'full_name': 'Darrell Allums',
  'first_name': 'Darrell',
  'last_name': 'Allums',
  'is_active': False},
 {'id': 201165,
  'full_name': 'Morris Almond',
  'first_name': 'Morris',
  'last_name': 'Almond',
  'is_active': False},
 {'id': 308,
  'full_name': 'Derrick Alston',
  'first_name': 'Derrick',
  'last_name': 'Alston',
  'is_active': False},
 {'id': 1747,
  'full_name': 'Rafer Alston',
  'first_name': 'Rafer',
  'last_name': 'Alston',
  'is_active': False},
 {'id': 1824,
  'full_name': 'Peter Aluma',
  'first_name': 'Peter',
  'last_name': 'Aluma',
  'is_active': False},
 {'id': 1630631,
  'full_name': 'Jose Alvarado',
  'first_name': 'Jose',
  'last_name': 'Alvarado',
  'is_active': True},
 {'id': 680,
  'full_name': 'John Amaechi',
  'first_name': 'John',
  'last_name': 'Amaechi',
  'is_active': False},
 {'id': 732,
  'full_name': 'Ashraf Amaya',
  'first_name': 'Ashraf',
  'last_name': 'Amaya',
  'is_active': False},
 {'id': 202329,
  'full_name': 'Al-Farouq Aminu',
  'first_name': 'Al-Farouq',
  'last_name': 'Aminu',
  'is_active': False},
 {'id': 200811,
  'full_name': 'Lou Amundson',
  'first_name': 'Lou',
  'last_name': 'Amundson',
  'is_active': False},
 {'id': 76034,
  'full_name': 'Bob Anderegg',
  'first_name': 'Bob',
  'last_name': 'Anderegg',
  'is_active': False},
 {'id': 2365,
  'full_name': 'Chris Andersen',
  'first_name': 'Chris',
  'last_name': 'Andersen',
  'is_active': False},
 {'id': 2431,
  'full_name': 'David Andersen',
  'first_name': 'David',
  'last_name': 'Andersen',
  'is_active': False},
 {'id': 101187,
  'full_name': 'Alan Anderson',
  'first_name': 'Alan',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 202079,
  'full_name': 'Antonio Anderson',
  'first_name': 'Antonio',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 76035,
  'full_name': 'Cliff Anderson',
  'first_name': 'Cliff',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 76036,
  'full_name': 'Daniel Anderson',
  'first_name': 'Daniel',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 1507,
  'full_name': 'Derek Anderson',
  'first_name': 'Derek',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 76037,
  'full_name': 'Dwight Anderson',
  'first_name': 'Dwight',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 944,
  'full_name': 'Eric Anderson',
  'first_name': 'Eric',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 246,
  'full_name': 'Greg Anderson',
  'first_name': 'Greg',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 202341,
  'full_name': 'James Anderson',
  'first_name': 'James',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 76040,
  'full_name': 'Jerome Anderson',
  'first_name': 'Jerome',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 1626147,
  'full_name': 'Justin Anderson',
  'first_name': 'Justin',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 72,
  'full_name': 'Kenny Anderson',
  'first_name': 'Kenny',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 76041,
  'full_name': 'Kim Anderson',
  'first_name': 'Kim',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 203937,
  'full_name': 'Kyle Anderson',
  'first_name': 'Kyle',
  'last_name': 'Anderson',
  'is_active': True},
 {'id': 76042,
  'full_name': 'Michael Anderson',
  'first_name': 'Michael',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 76043,
  'full_name': 'Mitchell Anderson',
  'first_name': 'Mitchell',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 98,
  'full_name': 'Nick Anderson',
  'first_name': 'Nick',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 76045,
  'full_name': 'Richard Anderson',
  'first_name': 'Richard',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 76046,
  'full_name': 'Ron Anderson',
  'first_name': 'Ron',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 201583,
  'full_name': 'Ryan Anderson',
  'first_name': 'Ryan',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 1000,
  'full_name': 'Shandon Anderson',
  'first_name': 'Shandon',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 335,
  'full_name': 'Willie Anderson',
  'first_name': 'Willie',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 76048,
  'full_name': 'Wally Anderzunas',
  'first_name': 'Wally',
  'last_name': 'Anderzunas',
  'is_active': False},
 {'id': 101149,
  'full_name': 'Martynas Andriuskevicius',
  'first_name': 'Martynas',
  'last_name': 'Andriuskevicius',
  'is_active': False},
 {'id': 76049,
  'full_name': 'Don Anielak',
  'first_name': 'Don',
  'last_name': 'Anielak',
  'is_active': False},
 {'id': 1628387,
  'full_name': 'Ike Anigbogu',
  'first_name': 'Ike',
  'last_name': 'Anigbogu',
  'is_active': False},
 {'id': 76050,
  'full_name': 'Michael Ansley',
  'first_name': 'Michael',
  'last_name': 'Ansley',
  'is_active': False},
 {'id': 1512,
  'full_name': 'Chris Anstey',
  'first_name': 'Chris',
  'last_name': 'Anstey',
  'is_active': False},
 {'id': 203507,
  'full_name': 'Giannis Antetokounmpo',
  'first_name': 'Giannis',
  'last_name': 'Antetokounmpo',
  'is_active': True},
 {'id': 1628961,
  'full_name': 'Kostas Antetokounmpo',
  'first_name': 'Kostas',
  'last_name': 'Antetokounmpo',
  'is_active': False},
 {'id': 203648,
  'full_name': 'Thanasis Antetokounmpo',
  'first_name': 'Thanasis',
  'last_name': 'Antetokounmpo',
  'is_active': True},
 {'id': 2546,
  'full_name': 'Carmelo Anthony',
  'first_name': 'Carmelo',
  'last_name': 'Anthony',
  'is_active': False},
 {'id': 1630175,
  'full_name': 'Cole Anthony',
  'first_name': 'Cole',
  'last_name': 'Anthony',
  'is_active': True},
 {'id': 21,
  'full_name': 'Greg Anthony',
  'first_name': 'Greg',
  'last_name': 'Anthony',
  'is_active': False},
 {'id': 201202,
  'full_name': 'Joel Anthony',
  'first_name': 'Joel',
  'last_name': 'Anthony',
  'is_active': False},
 {'id': 203544,
  'full_name': 'Pero Antic',
  'first_name': 'Pero',
  'last_name': 'Antic',
  'is_active': False},
 {'id': 1628384,
  'full_name': 'O.G. Anunoby',
  'first_name': 'O.G.',
  'last_name': 'Anunoby',
  'is_active': True},
 {'id': 203951,
  'full_name': 'Keith Appling',
  'first_name': 'Keith',
  'last_name': 'Appling',
  'is_active': False},
 {'id': 2737,
  'full_name': 'Rafael Araujo',
  'first_name': 'Rafael',
  'last_name': 'Araujo',
  'is_active': False},
 {'id': 76053,
  'full_name': 'Stacey Arceneaux',
  'first_name': 'Stacey',
  'last_name': 'Arceneaux',
  'is_active': False},
 {'id': 76054,
  'full_name': 'Nate Archibald',
  'first_name': 'Nate',
  'last_name': 'Archibald',
  'is_active': False},
 {'id': 2425,
  'full_name': 'Robert Archibald',
  'first_name': 'Robert',
  'last_name': 'Archibald',
  'is_active': False},
 {'id': 1627853,
  'full_name': 'Ryan Arcidiacono',
  'first_name': 'Ryan',
  'last_name': 'Arcidiacono',
  'is_active': True},
 {'id': 76055,
  'full_name': 'Jim Ard',
  'first_name': 'Jim',
  'last_name': 'Ard',
  'is_active': False},
 {'id': 2240,
  'full_name': 'Gilbert Arenas',
  'first_name': 'Gilbert',
  'last_name': 'Arenas',
  'is_active': False},
 {'id': 2772,
  'full_name': 'Trevor Ariza',
  'first_name': 'Trevor',
  'last_name': 'Ariza',
  'is_active': False},
 {'id': 76056,
  'full_name': 'Paul Arizin',
  'first_name': 'Paul',
  'last_name': 'Arizin',
  'is_active': False},
 {'id': 76057,
  'full_name': 'Joe Arlauckas',
  'first_name': 'Joe',
  'last_name': 'Arlauckas',
  'is_active': False},
 {'id': 769,
  'full_name': 'B.J. Armstrong',
  'first_name': 'B.J.',
  'last_name': 'Armstrong',
  'is_active': False},
 {'id': 76061,
  'full_name': 'Bob Armstrong',
  'first_name': 'Bob',
  'last_name': 'Armstrong',
  'is_active': False},
 {'id': 2220,
  'full_name': 'Brandon Armstrong',
  'first_name': 'Brandon',
  'last_name': 'Armstrong',
  'is_active': False},
 {'id': 353,
  'full_name': 'Darrell Armstrong',
  'first_name': 'Darrell',
  'last_name': 'Armstrong',
  'is_active': False},
 {'id': 200756,
  'full_name': 'Hilton Armstrong',
  'first_name': 'Hilton',
  'last_name': 'Armstrong',
  'is_active': False},
 {'id': 76060,
  'full_name': 'Paul Armstrong',
  'first_name': 'Paul',
  'last_name': 'Armstrong',
  'is_active': False},
 {'id': 76059,
  'full_name': 'Tate Armstrong',
  'first_name': 'Tate',
  'last_name': 'Armstrong',
  'is_active': False},
 {'id': 76062,
  'full_name': 'Jesse Arnelle',
  'first_name': 'Jesse',
  'last_name': 'Arnelle',
  'is_active': False},
 {'id': 76063,
  'full_name': 'Jay Arnette',
  'first_name': 'Jay',
  'last_name': 'Arnette',
  'is_active': False},
 {'id': 76064,
  'full_name': 'Bob Arnzen',
  'first_name': 'Bob',
  'last_name': 'Arnzen',
  'is_active': False},
 {'id': 2306,
  'full_name': 'Carlos Arroyo',
  'first_name': 'Carlos',
  'last_name': 'Arroyo',
  'is_active': False},
 {'id': 201589,
  'full_name': 'Darrell Arthur',
  'first_name': 'Darrell',
  'last_name': 'Arthur',
  'is_active': False},
 {'id': 76065,
  'full_name': 'John Arthurs',
  'first_name': 'John',
  'last_name': 'Arthurs',
  'is_active': False},
 {'id': 1628503,
  'full_name': 'Jamel Artis',
  'first_name': 'Jamel',
  'last_name': 'Artis',
  'is_active': False},
 {'id': 201600,
  'full_name': 'Omer Asik',
  'first_name': 'Omer',
  'last_name': 'Asik',
  'is_active': False},
 {'id': 355,
  'full_name': 'Vincent Askew',
  'first_name': 'Vincent',
  'last_name': 'Askew',
  'is_active': False},
 {'id': 173,
  'full_name': 'Keith Askins',
  'first_name': 'Keith',
  'last_name': 'Askins',
  'is_active': False},
 {'id': 76068,
  'full_name': 'Don Asmonga',
  'first_name': 'Don',
  'last_name': 'Asmonga',
  'is_active': False},
 {'id': 76069,
  'full_name': 'Richard Atha',
  'first_name': 'Richard',
  'last_name': 'Atha',
  'is_active': False},
 {'id': 1088,
  'full_name': 'Chucky Atkins',
  'first_name': 'Chucky',
  'last_name': 'Atkins',
  'is_active': False},
 {'id': 76070,
  'full_name': 'Alvin Attles',
  'first_name': 'Alvin',
  'last_name': 'Attles',
  'is_active': False},
 {'id': 76071,
  'full_name': 'Chet Aubuchon',
  'first_name': 'Chet',
  'last_name': 'Aubuchon',
  'is_active': False},
 {'id': 278,
  'full_name': 'Stacey Augmon',
  'first_name': 'Stacey',
  'last_name': 'Augmon',
  'is_active': False},
 {'id': 201571,
  'full_name': 'D.J. Augustin',
  'first_name': 'D.J.',
  'last_name': 'Augustin',
  'is_active': False},
 {'id': 200788,
  'full_name': 'James Augustine',
  'first_name': 'James',
  'last_name': 'Augustine',
  'is_active': False},
 {'id': 1134,
  'full_name': 'Ike Austin',
  'first_name': 'Ike',
  'last_name': 'Austin',
  'is_active': False},
 {'id': 76073,
  'full_name': 'John Austin',
  'first_name': 'John',
  'last_name': 'Austin',
  'is_active': False},
 {'id': 76074,
  'full_name': 'Ken Austin',
  'first_name': 'Ken',
  'last_name': 'Austin',
  'is_active': False},
 {'id': 1630166,
  'full_name': 'Deni Avdija',
  'first_name': 'Deni',
  'last_name': 'Avdija',
  'is_active': True},
 {'id': 138,
  'full_name': 'Anthony Avent',
  'first_name': 'Anthony',
  'last_name': 'Avent',
  'is_active': False},
 {'id': 76076,
  'full_name': 'William Averitt',
  'first_name': 'William',
  'last_name': 'Averitt',
  'is_active': False},
 {'id': 1895,
  'full_name': 'William Avery',
  'first_name': 'William',
  'last_name': 'Avery',
  'is_active': False},
 {'id': 76078,
  'full_name': 'Dennis Awtrey',
  'first_name': 'Dennis',
  'last_name': 'Awtrey',
  'is_active': False},
 {'id': 1630555,
  'full_name': 'Joel Ayayi',

In [108]:
for player in player_dict[:20]:
    player_id = player['id']
    # print(player_id)

In [112]:
playercareerstats.PlayerCareerStats(player_id=player_id).get_data_frames()[3]

,PLAYER_ID,LEAGUE_ID,Team_ID,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1629121,00,0,3,0,21.0,3,9,0.333333,0,...,0.0,1,2,3,2,1,0,0,1,6

# Acquiring all data

In [11]:
# Acquiring the anthro metrics from 2010 - 2023 
# This will be used to predict the future players that have the best upside 
anthro_2010 = draftcombineplayeranthro.DraftCombinePlayerAnthro(season_year=2010).get_data_frames()[0]
anthro_2011 = draftcombineplayeranthro.DraftCombinePlayerAnthro(season_year=2011).get_data_frames()[0]
anthro_2012 = draftcombineplayeranthro.DraftCombinePlayerAnthro(season_year=2012).get_data_frames()[0]
anthro_2013 = draftcombineplayeranthro.DraftCombinePlayerAnthro(season_year=2013).get_data_frames()[0]
anthro_2014 = draftcombineplayeranthro.DraftCombinePlayerAnthro(season_year=2014).get_data_frames()[0]
anthro_2015 = draftcombineplayeranthro.DraftCombinePlayerAnthro(season_year=2015).get_data_frames()[0]
anthro_2016 = draftcombineplayeranthro.DraftCombinePlayerAnthro(season_year=2016).get_data_frames()[0]
anthro_2017 = draftcombineplayeranthro.DraftCombinePlayerAnthro(season_year=2017).get_data_frames()[0]
anthro_2018 = draftcombineplayeranthro.DraftCombinePlayerAnthro(season_year=2018).get_data_frames()[0]
anthro_2019 = draftcombineplayeranthro.DraftCombinePlayerAnthro(season_year=2019).get_data_frames()[0]
anthro_2020 = draftcombineplayeranthro.DraftCombinePlayerAnthro(season_year=2020).get_data_frames()[0]
anthro_2021 = draftcombineplayeranthro.DraftCombinePlayerAnthro(season_year=2021).get_data_frames()[0]
anthro_2022 = draftcombineplayeranthro.DraftCombinePlayerAnthro(season_year=2022).get_data_frames()[0]
anthro_2023 = draftcombineplayeranthro.DraftCombinePlayerAnthro(season_year=2023).get_data_frames()[0]

In [15]:
# Acquiring the data of league leaders in the NBA to use to determine the value of player
# The measure to predict
leaders_10_11 = leagueleaders.LeagueLeaders(season='2010-11').get_data_frames()[0]
leaders_11_12 = leagueleaders.LeagueLeaders(season='2011-12').get_data_frames()[0]
leaders_12_13 = leagueleaders.LeagueLeaders(season='2012-13').get_data_frames()[0]
leaders_13_14 = leagueleaders.LeagueLeaders(season='2013-14').get_data_frames()[0]
leaders_14_15 = leagueleaders.LeagueLeaders(season='2014-15').get_data_frames()[0]
leaders_15_16 = leagueleaders.LeagueLeaders(season='2015-16').get_data_frames()[0]
leaders_16_17 = leagueleaders.LeagueLeaders(season='2016-17').get_data_frames()[0]
leaders_17_18 = leagueleaders.LeagueLeaders(season='2017-18').get_data_frames()[0]
leaders_18_19 = leagueleaders.LeagueLeaders(season='2018-19').get_data_frames()[0]
leaders_19_20 = leagueleaders.LeagueLeaders(season='2019-20').get_data_frames()[0]
leaders_21_22 = leagueleaders.LeagueLeaders(season='2021-22').get_data_frames()[0]
leaders_22_23 = leagueleaders.LeagueLeaders(season='2022-23').get_data_frames()[0]

In [16]:
anthro_2010.head(3)

,TEMP_PLAYER_ID,PLAYER_ID,FIRST_NAME,LAST_NAME,PLAYER_NAME,POSITION,HEIGHT_WO_SHOES,HEIGHT_WO_SHOES_FT_IN,HEIGHT_W_SHOES,HEIGHT_W_SHOES_FT_IN,WEIGHT,WINGSPAN,WINGSPAN_FT_IN,STANDING_REACH,STANDING_REACH_FT_IN,BODY_FAT_PCT,HAND_LENGTH,HAND_WIDTH
0,None,202374,Solomon,Alabi,Solomon Alabi,C,83.50,6' 11.5'',84.75,7' 0.75'',237.4,89.00,7' 5'',113.0,9' 5'',5.0,9.25,9.25
1,None,202332,Cole,Aldrich,Cole Aldrich,C,81.00,6' 9'',83.25,6' 11.25'',236,88.75,7' 4.75'',111.5,9' 3.5'',8.5,9.00,9.25
2,None,202329,Al-Farouq,Aminu,Al-Farouq Aminu,SF,79.25,6' 7.25'',80.50,6' 8.5'',216,87.25,7' 3.25'',108.5,9' 0.5'',8.2,9.50,9.50

In [17]:
leaders_10_11.head(3)

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,201142,1,Kevin Durant,1610612760,OKC,78,3038,711,1538,0.462,...,533,214,88,76,218,159,2161,1946,0.98,0.40
1,2544,2,LeBron James,1610612748,MIA,79,3063,758,1485,0.510,...,590,554,124,50,284,163,2111,2258,1.95,0.44
2,977,3,Kobe Bryant,1610612747,LAL,82,2779,740,1639,0.451,...,419,388,99,12,243,172,2078,1754,1.60,0.41

In [20]:
anthro_2010.PLAYER_NAME.head()

0      Solomon Alabi
1       Cole Aldrich
2    Al-Farouq Aminu
3     James Anderson
4       Luke Babbitt
Name: PLAYER_NAME, dtype: object

In [21]:
leaders_10_11.PLAYER.head()

0         Kevin Durant
1         LeBron James
2          Kobe Bryant
3         Derrick Rose
4    Amar'e Stoudemire
Name: PLAYER, dtype: object

In [51]:
import pandas as pd

for index, row in leaders_10_11.iterrows():
    if row['PLAYER'] in anthro_2010['PLAYER_NAME'].values:
        display(pd.DataFrame(row).T)

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
51,202326,52,DeMarcus Cousins,1610612758,SAC,81,2309,432,1004,0.43,...,699,204,85,68,268,332,1143,1233,0.76,0.32

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
52,202322,53,John Wall,1610612764,WAS,69,2606,398,972,0.409,...,317,574,121,35,261,175,1131,1251,2.2,0.46

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
132,202328,133,Greg Monroe,1610612765,DET,80,2222,303,550,0.551,...,601,105,93,45,81,196,751,1179,1.3,1.15

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
143,202325,144,Wesley Johnson,1610612750,MIN,79,2069,271,682,0.397,...,240,148,58,54,95,163,709,675,1.56,0.61

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
186,202323,186,Evan Turner,1610612755,PHI,78,1797,225,529,0.425,...,306,159,49,14,80,138,565,685,1.99,0.61

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
193,202339,194,Eric Bledsoe,1610612746,LAC,81,1841,206,486,0.424,...,223,289,92,26,194,130,543,665,1.49,0.47

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
197,202324,198,Derrick Favors,1610612762,UTA,78,1536,215,416,0.517,...,412,39,29,68,77,246,533,733,0.51,0.38

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
204,202334,205,Ed Davis,1610612761,TOR,65,1602,215,373,0.576,...,462,40,39,67,48,183,501,846,0.83,0.81

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
205,202348,206,Jordan Crawford,1610612764,WAS,42,1027,192,500,0.384,...,105,117,39,3,83,63,490,352,1.41,0.47

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
210,202331,211,Paul George,1610612754,IND,61,1265,179,395,0.453,...,224,65,62,26,70,127,476,543,0.93,0.89

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
213,202329,214,Al-Farouq Aminu,1610612746,LAC,81,1452,160,406,0.394,...,267,60,59,25,103,121,457,492,0.58,0.57

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
235,202330,236,Gordon Hayward,1610612762,UTA,72,1218,142,293,0.485,...,139,81,30,19,70,106,388,408,1.16,0.43

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
250,202344,251,Trevor Booker,1610612764,WAS,65,1063,139,253,0.549,...,251,35,29,42,38,115,346,518,0.92,0.76

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
257,202335,258,Patrick Patterson,1610612745,HOU,52,868,149,267,0.558,...,200,41,17,37,31,77,328,462,1.32,0.55

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
262,202412,263,Manny Harris,1610612739,CLE,54,933,108,289,0.374,...,140,85,31,7,63,65,321,318,1.35,0.49

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
285,202336,286,Larry Sanders,1610612749,MIL,60,872,116,268,0.433,...,178,16,22,72,38,117,260,336,0.42,0.58

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
290,202349,291,Greivis Vasquez,1610612763,MEM,70,860,95,233,0.408,...,73,151,22,4,70,83,249,281,2.16,0.31

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
295,202327,296,Ekpe Udoh,1610612744,GSW,58,1030,97,222,0.437,...,181,40,22,86,48,144,236,370,0.83,0.46

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
314,202376,314,Luke Harangody,1610612739,CLE,49,641,79,206,0.383,...,143,30,15,17,16,80,193,248,1.88,0.94

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
326,202333,327,Xavier Henry,1610612763,MEM,38,527,65,160,0.406,...,37,18,11,3,13,48,165,107,1.39,0.85

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
331,202351,331,Lazar Hayward,1610612750,MIN,42,419,55,154,0.357,...,70,28,12,7,19,44,160,150,1.47,0.63

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
358,202356,358,Armon Johnson,1610612757,POR,38,277,46,101,0.455,...,36,45,5,1,38,31,110,95,1.18,0.13

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
359,202345,358,Damion James,1610612751,NJN,25,403,46,103,0.447,...,85,20,16,12,25,36,110,151,0.8,0.64

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
369,202341,370,James Anderson,1610612759,SAS,26,286,31,81,0.383,...,23,18,3,6,13,24,94,77,1.39,0.23

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
374,202382,374,Derrick Caracter,1610612747,LAL,41,215,32,66,0.485,...,43,7,4,10,19,47,81,86,0.37,0.21

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
386,202365,387,Devin Ebanks,1610612747,LAL,20,118,21,51,0.412,...,27,2,4,5,6,7,62,59,0.33,0.67

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
393,202340,394,Avery Bradley,1610612738,BOS,31,162,23,67,0.343,...,17,12,9,0,16,20,52,24,0.75,0.56

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
399,202346,400,Dominique Jones,1610612742,DAL,18,135,14,45,0.311,...,25,19,5,3,10,7,42,50,1.9,0.5

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
403,202362,404,Lance Stephenson,1610612754,IND,12,115,13,39,0.333,...,18,21,4,0,16,14,37,35,1.31,0.25

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
404,202378,404,Willie Warren,1610612746,LAC,19,134,13,35,0.371,...,12,27,6,0,8,16,37,50,3.38,0.75

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
405,202337,406,Luke Babbitt,1610612757,POR,24,137,15,55,0.273,...,30,6,2,2,8,15,36,22,0.75,0.25

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
418,202332,419,Cole Aldrich,1610612760,OKC,18,142,8,15,0.533,...,35,4,5,7,8,30,18,52,0.5,0.63

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
420,202395,421,Sherron Collins,1610612766,CHA,20,66,7,25,0.28,...,5,8,2,0,4,2,17,10,2.0,0.5

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
429,202360,430,Andy Rautins,1610612752,NYK,5,24,3,7,0.429,...,1,3,1,0,7,0,8,1,0.43,0.14

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
430,202342,430,Craig Brackins,1610612755,PHI,3,33,4,16,0.25,...,4,1,1,0,0,3,8,2,0.0,0.0

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
437,202374,436,Solomon Alabi,1610612761,TOR,12,59,3,15,0.2,...,14,2,2,2,3,5,6,9,0.67,0.67

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
443,202354,443,Dexter Pittman,1610612748,MIA,2,11,1,3,0.333,...,3,0,0,0,2,2,2,1,0.0,0.0

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
450,202371,449,Gani Lawal,1610612756,PHX,1,2,0,0,0.0,...,0,0,0,0,0,1,0,0,0.0,0.0

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
451,202355,449,Hassan Whiteside,1610612758,SAC,1,2,0,0,0.0,...,0,0,0,0,0,2,0,0,0.0,0.0

In [52]:
leaders_10_11.columns

Index(['PLAYER_ID', 'RANK', 'PLAYER', 'TEAM_ID', 'TEAM', 'GP', 'MIN', 'FGM',
       'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
       'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'EFF',
       'AST_TOV', 'STL_TOV'],
      dtype='object')

In [53]:
anthro_2010.head()

,TEMP_PLAYER_ID,PLAYER_ID,FIRST_NAME,LAST_NAME,PLAYER_NAME,POSITION,HEIGHT_WO_SHOES,HEIGHT_WO_SHOES_FT_IN,HEIGHT_W_SHOES,HEIGHT_W_SHOES_FT_IN,WEIGHT,WINGSPAN,WINGSPAN_FT_IN,STANDING_REACH,STANDING_REACH_FT_IN,BODY_FAT_PCT,HAND_LENGTH,HAND_WIDTH
0,None,202374,Solomon,Alabi,Solomon Alabi,C,83.50,6' 11.5'',84.75,7' 0.75'',237.4,89.00,7' 5'',113.0,9' 5'',5.0,9.25,9.25
1,None,202332,Cole,Aldrich,Cole Aldrich,C,81.00,6' 9'',83.25,6' 11.25'',236,88.75,7' 4.75'',111.5,9' 3.5'',8.5,9.00,9.25
2,None,202329,Al-Farouq,Aminu,Al-Farouq Aminu,SF,79.25,6' 7.25'',80.50,6' 8.5'',216,87.25,7' 3.25'',108.5,9' 0.5'',8.2,9.50,9.50
3,None,202341,James,Anderson,James Anderson,SF,76.75,6' 4.75'',77.75,6' 5.75'',207.6,80.50,6' 8.5'',104.0,8' 8'',7.9,8.50,7.25
4,None,202337,Luke,Babbitt,Luke Babbitt,SF-PF,79.50,6' 7.5'',80.75,6' 8.75'',217.8,83.25,6' 11.25'',104.5,8' 8.5'',5.6,8.50,10.00

In [54]:
#create a mask for the anthro metric results
metrics_leaders_10 = leaders_10_11[leaders_10_11['PLAYER'].isin(anthro_2010['PLAYER_NAME'].values)]
metrics_leaders_10.head()

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
51,202326,52,DeMarcus Cousins,1610612758,SAC,81,2309,432,1004,0.430,...,699,204,85,68,268,332,1143,1233,0.76,0.32
52,202322,53,John Wall,1610612764,WAS,69,2606,398,972,0.409,...,317,574,121,35,261,175,1131,1251,2.20,0.46
132,202328,133,Greg Monroe,1610612765,DET,80,2222,303,550,0.551,...,601,105,93,45,81,196,751,1179,1.30,1.15
143,202325,144,Wesley Johnson,1610612750,MIN,79,2069,271,682,0.397,...,240,148,58,54,95,163,709,675,1.56,0.61
186,202323,186,Evan Turner,1610612755,PHI,78,1797,225,529,0.425,...,306,159,49,14,80,138,565,685,1.99,0.61

In [59]:
# Assuming you want to perform an inner join (only common players will be included)
metrics_leaders_10 = metrics_leaders_10.merge(anthro_2010, left_on='PLAYER', right_on='PLAYER_NAME', how='inner')
metrics_leaders_10

,PLAYER_ID_x,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,HEIGHT_W_SHOES,HEIGHT_W_SHOES_FT_IN,WEIGHT,WINGSPAN,WINGSPAN_FT_IN,STANDING_REACH,STANDING_REACH_FT_IN,BODY_FAT_PCT,HAND_LENGTH,HAND_WIDTH
0,202326,52,DeMarcus Cousins,1610612758,SAC,81,2309,432,1004,0.430,...,82.75,6' 10.75'',291.8,89.75,7' 5.75'',113.0,9' 5'',16.4,9.25,10.00
1,202322,53,John Wall,1610612764,WAS,69,2606,398,972,0.409,...,76.00,6' 4'',195.6,81.25,6' 9.25'',101.5,8' 5.5'',5.6,8.25,9.50
2,202328,133,Greg Monroe,1610612765,DET,80,2222,303,550,0.551,...,83.00,6' 11'',246.6,86.25,7' 2.25'',108.5,9' 0.5'',11.2,8.75,9.50
3,202325,144,Wesley Johnson,1610612750,MIN,79,2069,271,682,0.397,...,79.25,6' 7.25'',206.4,85.00,7' 1'',106.0,8' 10'',4.6,9.00,9.50
4,202323,186,Evan Turner,1610612755,PHI,78,1797,225,529,0.425,...,79.00,6' 7'',213.8,80.00,6' 8'',103.5,8' 7.5'',8.6,8.75,9.50
5,202339,194,Eric Bledsoe,1610612746,LAC,81,1841,206,486,0.424,...,73.50,6' 1.5'',191.6,79.50,6' 7.5'',98.0,8' 2'',5.6,8.50,9.75
6,202324,198,Derrick Favors,1610612762,UTA,78,1536,215,416,0.517,...,82.25,6' 10.25'',245.2,88.00,7' 4'',110.0,9' 2'',6.5,8.75,9.25
7,202334,205,Ed Davis,1610612761,TOR,65,1602,215,373,0.576,...,81.75,6' 9.75'',226.6,84.00,7' 0'',108.0,9' 0'',10.0,9.25,10.00
8,202348,206,Jordan Crawford,1610612764,WAS,42,1027,192,500,0.384,...,76.50,6' 4.5'',198.4,79.00,6' 7'',101.0,8' 5'',4.9,8.00,9.00
9,202331,211,Paul George,1610612754,IND,61,1265,179,395,0.453,...,80.75,6' 8.75'',214.4,83.25,6' 11.25'',107.0,8' 11'',5.0,8.50,9.00
10,202329,214,Al-Farouq Aminu,1610612746,LAC,81,1452,160,406,0.394,...,80.50,6' 8.5'',216,87.25,7' 3.25'',108.5,9' 0.5'',8.2,9.50,9.50
11,202330,236,Gordon Hayward,1610612762,UTA,72,1218,142,293,0.485,...,80.00,6' 8'',211,79.75,6' 7.75'',103.0,8' 7'',6.9,8.50,9.25
12,202344,251,Trevor Booker,1610612764,WAS,65,1063,139,253,0.549,...,79.50,6' 7.5'',235.8,81.75,6' 9.75'',106.0,8' 10'',7.3,9.00,9.50
13,202335,258,Patrick Patterson,1610612745,HOU,52,868,149,267,0.558,...,81.25,6' 9.25'',239.6,85.25,7' 1.25'',107.0,8' 11'',5.3,9.25,10.25
14,202412,263,Manny Harris,1610612739,CLE,54,933,108,289,0.374,...,77.50,6' 5.5'',185.1,79.25,6' 7.25'',102.0,8' 6'',3.8,8.50,9.00
15,202336,286,Larry Sanders,1610612749,MIL,60,872,116,268,0.433,...,82.50,6' 10.5'',222.4,89.75,7' 5.75'',112.0,9' 4'',4.6,9.75,11.00
16,202349,291,Greivis Vasquez,1610612763,MEM,70,860,95,233,0.408,...,78.50,6' 6.5'',210.8,79.00,6' 7'',101.0,8' 5'',8.6,7.75,9.25
17,202327,296,Ekpe Udoh,1610612744,GSW,58,1030,97,222,0.437,...,81.75,6' 9.75'',237.4,88.50,7' 4.5'',106.5,8' 10.5'',8.0,9.50,8.75
18,202376,314,Luke Harangody,1610612739,CLE,49,641,79,206,0.383,...,79.75,6' 7.75'',240.2,81.50,6' 9.5'',106.0,8' 10'',11.1,8.75,9.75
19,202333,327,Xavier Henry,1610612763,MEM,38,527,65,160,0.406,...,78.50,6' 6.5'',210.2,83.25,6' 11.25'',105.0,8' 9'',4.7,8.75,10.00
20,202351,331,Lazar Hayward,1610612750,MIN,42,419,55,154,0.357,...,77.75,6' 5.75'',225.8,84.75,7' 0.75'',102.0,8' 6'',7.5,9.25,9.50
21,202356,358,Armon Johnson,1610612757,POR,38,277,46,101,0.455,...,75.25,6' 3.25'',195.2,80.00,6' 8'',99.5,8' 3.5'',5.6,8.25,9.25
22,202345,358,Damion James,1610612751,NJN,25,403,46,103,0.447,...,79.75,6' 7.75'',226.6,84.75,7' 0.75'',107.0,8' 11'',9.6,9.25,8.50
23,202341,370,James Anderson,1610612759,SAS,26,286,31,81,0.383,...,77.75,6' 5.75'',207.6,80.50,6' 8.5'',104.0,8' 8'',7.9,8.50,7.25
24,202382,374,Derrick Caracter,1610612747,LAL,41,215,32,66,0.485,...,81.50,6' 9.5'',280,84.25,7' 0.25'',107.5,8' 11.5'',12.8,9.00,10.25
25,202365,387,Devin Ebanks,1610612747,LAL,20,118,21,51,0.412,...,80.25,6' 8.25'',207.8,84.25,7' 0.25'',107.5,8' 11.5'',7.9,8.25,9.00
26,202340,394,Avery Bradley,1610612738,BOS,31,162,23,67,0.343,...,75.25,6' 3.25'',180.4,79.25,6' 7.25'',98.5,8' 2.5'',4.0,8.25,9.50
27,202346,400,Dominique Jones,1610612742,DAL,18,135,14,45,0.311,...,77.00,6' 5'',216,81.25,6' 9.25'',101.0,8' 5'',5.9,9.00,10.25
28,202362,404,Lance Stephenson,1610612754,IND,12,115,13,39,0.333,...,77.75,6' 5.75'',227,82.50,6' 10.5'',103.0,8' 7'',9.3,9.00,10.25
29,202378,404,Willie Warren,1610612746,LAC,19,134,13,35,0.371,...,75.75,6' 3.75'',208.4,78.00,6' 6'',99.5,8' 3.5'',7.6,8.50,9.50
30,202337,406,Luke Babbitt,1610612757,POR,24,137,15,55,0.273,...,80.75,6' 8.75'',217.8,83.25,6' 11.25'',104.5,8' 8.5'',5.6,8.50,10.00
31,202332,419,Cole Aldrich,1610612760,OKC,18,142,8,15,0.533,...,83.25,6' 11.25'',236,88.75,7' 4.75'',111.5,9' 3.5'',8.5,9.00,9.25
32,202395,421,Sherron Collins,1610612766,CHA,20,66,7,25,0.280,...,71.75,5' 11.75'',217.2,74.50,6' 2.5'',94.0,7' 10'',9.2,8.50,9.50
33,202360,430,Andy Rautins,1610612752,NYK,5,24,3,7,0.429,...,77.00,6' 5'',191.6,79.00,6' 7'',100.0,8' 4'',6.2,8.00,9.75
34,202342,430,Craig Brackins,1610612755,PHI,3,33,4,16,0.250,...,81.75,6' 9.75'',229,84.00,7' 0'',109.0,9' 1'',7.9,9.50,11.25
35,202374,436,Solomon Alabi,1610612761,TOR,12,59,3,15,0.200,...,84.75,7' 0.75'',237.4,89.00,7' 5'',113.0,9' 5'',5.0,9.25,9.25
36,202354,443,Dexter Pittman,1610612748,MIA,2,11,1,3,0.333,...,83.50,6' 11.5'',302.6,90.00,7' 6'',111.0,9' 3'',20.8,10.25,10.50
37,202371,449,Gani Lawal,1610612756,PHX,1,2,0,0,0.000,...,81.00,6' 9'',233.4,84.00,7' 0'',107.5,8' 11.5'',6.3,8.50,10.00
38,202355,449,Hassan Whiteside,1610612758,SAC,1,2,0,0,0.000,...,83.50,6' 11.5'',226.6,91.00,7' 7'',113.0,9' 5'',5.5,8.25,10.25